// dispatch / add new job
@ckr-screen-lg-max: 1200px;
@ckr-screen-md-max: 992px;
@ckr-screen-sm-max: 768px;
@ckr-screen-xs-max: 576px;

div.gx-addjob-top-btngroup-mobile {
    z-index: 100;
}
div.gx-addjob-step2-addjobitem-main-content { // normal statue (step2-add job item)
    padding-top: 60px;
}
div.gx-addjob-step3-schedule {
    h3.gx-addjob-step3-title {
        padding-right: 20px;
    }
}

@media screen and (max-width: @ckr-screen-sm-max) {
    div.gx-addjob-step3-schedule {
        div.gx-addjob-step3-toptool-left-btngroup {
            div.gx-d-md-none {
                display: none;
            }
        }
    }
}
@media screen and (max-width: @ckr-screen-lg-max) {
    div.gx-addjob-step3-schedule {
        h3.gx-addjob-step3-title {
            display: none;
        }
    }
}
// mobile responsive panel, steps_btn_group control //
@media screen and (max-width: @ckr-screen-md-max) {
    div.gx-addjob-top-btngroup-mobile {
        position: absolute;
        width: 100%;
    }
}

@media screen and (max-width: @ckr-screen-md-max) {
    div.gx-addjob-top-btngroup-mobile + div.ant-row {
        div.gx-addjob-step3-schedule { // mobile responsive (step3-schedule)
            padding-top: 60px;
            div.gx-addjob-step3-toptool-left-btngroup {
                justify-content: center;
                margin-bottom: 20px !important;
            }
            div.gx-addjob-step3-toptool-right-btngroup {
                justify-content: center;
            }
        }
        div.gx-addjob-step2-addjobitem-main-content { // mobile reponsive (step2-add job item)
            padding-top: 110px;
            padding-bottom: 80px !important;
        }
        div.gx-addjob-step1-2 {
            padding-top: 110px;
        } 
    }
}
/////////// step3 schedule ////////////////
div.gx-employee-work-hours-area.gx-addjob-step3-work-hour-area {
    div.gx-employee-work-hours {
        overflow-x: hidden;
        div.gx-employee-work-hours-list-time-table-area {
            overflow-x: scroll;
            overflow-y: hidden;
            div.gx-employee-work-hours-table-area-header {
                // width: max-content;
                background: white;
                div.gx-employee-work-hours-table-area-header-date {
                    width: 100%;
                    border-bottom: none;
                }
                div.gx-employee-work-hours-table-area-time {
                    width: max-content;
                    border-top: 1px solid #eee;
                }
            }
            div.gx-employee-work-hours-table-area-body-single-item {
                width: max-content;
            }
        }
    }

    div.gx-employee-work-hours-table-area-body-single-overlay {
        border-right: 1px solid #eee;
        border-top: 1px solid #eee;
        background: white !important;
    }
    div.gx-employee-work-hours-table-area-body-single-overlay.overlay-time.user-intime.user-three {
        border-bottom-color: #f7c43d;
    }
}

@media screen and (max-width: @ckr-screen-md-max) {

}

// step3-schedule popover

div.gx-addjob-step3-schedule-popover-title {
    display: flex;
    justify-content: space-between;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.gx-addjob-step3-schedule-popover-content {
    margin: -12px -16px;
    background: #fcfbfb;
    padding: 0px 25px;
    input.ant-calendar-picker-input {
        width: 180px;
        font-size: 14px;
        border-radius: 0;
    }
    input.ant-time-picker-input {
        width: 180px;
        font-size: 14px;
        border-radius: 0;
    }
    div.ant-select-selection.ant-select-selection--single {
        width: 180px;
        font-size: 14px;
        border-radius: 0;
    }
    span.ant-time-picker-icon {
        right: -40px;
    }
    
}
div.gx-bold-color {
    color: #132144;
}

div.gx-step3-popover-btn {
    display: flex;
    flex-flow: row-reverse;
    button {
        width: 135px;
    }
    button:nth-child(2) {
        background: #a4abb5 !important;
        border-color: #a4abb5 !important;
    }
}

.@{class-prefix}-schedule-span {
    background-color: white;
    position: absolute;
    left: 1px;
    top: 1px;
    width: 147px;
    height: 67px;
    opacity: 0;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 30px;
    padding-right: 30px;
    transition: opacity 0.5s;
    cursor: pointer;
}

.@{class-prefix}-schedule-span:hover {
    opacity: 1;
}

.@{class-prefix}-schedule-button {
    border: 1px solid #ddd;
    background-color: #eee;
    border-radius: 3px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

//////////////  Upload file  /////////////////
.@{class-prefix}-ss-newjob-upload-file-item {
    padding-bottom: 15px;
    .@{class-prefix}-ss-newjob-upload-left {
        .@{class-prefix}-ss-upload-date {
            text-align: left !important;
            flex: none !important;
        }
        .@{class-prefix}-ss-upload-img-size {
            width: 50px;
            height: 50px;

        }
        .@{class-prefix}-ss-non-img {
            background: rgb(136,215,219);
            font-weight: 800;
            font-size: 18px;
            color: white;
        }
    }
    .@{class-prefix}-ss-newjob-upload-right {
        cursor: pointer;
        color: #9e9e9e;
        &:hover {
            color: #51555a;
        }
    }
}

.@{class-prefix}-ss-newjob-upload-btn {
    padding: 20px !important;
    .ant-upload.ant-upload-drag {
        .ant-upload-btn {
            padding: 8px 0;
        }
    }
}
.@{class-prefix}-ss-newjob-upload-display {
    position: inherit !important;
    &.@{class-prefix}-customer-tab-header {
        background: #fcfbfb !important;
        box-shadow: none;
        border: none;
    }
}

@media screen and (max-width: @screen-xs-max) {
    .@{class-prefix}-ss-newjob-upload-panel-content {
        padding-right: 0 !important;
    }
}

////////////// private notes ////////////////////
.@{class-prefix}-ss-newjob-notes-panel {
    .@{class-prefix}-ss-newjob-notes-panel-content {
        padding: 60px 0 0 0;
        .@{class-prefix}-customer-top-tab-scroll {
            padding-top: 0;
            height: 110px !important;
            .@{class-prefix}-ss-newjob-note-content {
                padding: 0 20px;
            }
        }
        .@{class-prefix}-ss-newjob-note-input {
            padding: 20px;
            height: 100px;
            border: none;
            .@{class-prefix}-customer-tab-header {
                border: 1px solid #ccc;
                box-shadow: none;
                position: initial;
                .@{class-prefix}-ss-newjob-note-input {
                    padding: 0 10px;
                }
            }
        }
    }
}