/*Dashboard Styles*/
.@{class-prefix}-dashboard-overall-card {
  min-height: 330px;
}

.@{class-prefix}-dashboard-card {
  min-height: 330px;

  cursor: pointer;

  &.hover-progress:hover,
  & .@{class-prefix}-dashboard-card-hover:hover {
    & .@{class-prefix}-progress-container {
      &.green {
        background-image: linear-gradient(135deg, @green-color 5%, @green-bg-color 5%, @green-bg-color 50%, @green-color 50%, @green-color 55%, @green-bg-color 55%, @green-bg-color 100%);
    
        & .@{class-prefix}-progress-prog {
          background-color: @green-color;
        }
      }
      
      &.cyan {
        background-image: linear-gradient(135deg, @cyan-color 5%, @cyan-bg-color 5%, @cyan-bg-color 50%, @cyan-color 50%, @cyan-color 55%, @cyan-bg-color 55%, @cyan-bg-color 100%);
    
        & .@{class-prefix}-progress-prog {
          background-color: @cyan-color;
        }
      } 
    }

    & .bg-green {
      background-color: @green-color;
    }
    & .bg-cyan {
      background-color: @cyan-color;
    }  
    & .bg-red {
      background-color: @red-color;
    }  
    & .bg-yellow {
      background-color: @yellow-color;
    }

    & .@{class-prefix}-hover-green {
      color: @green-color;
    }
    
    & .@{class-prefix}-hover-cyan {
      color: @cyan-color;
    }
    
    & .@{class-prefix}-hover-red {
      color: @red-color;
    }
    
    & .@{class-prefix}-hover-yellow {
      color: @yellow-color;
    }
  }
}

.@{class-prefix}-dashboard-card-list {
  .flex-display(flex, row, nowrap);
  .justify-content(space-between);
  .align-items(center);
  width: 100%;

  & .icon,
  & .text {
    color: @text-grey;
  }

  & .value {
    color: @text-color;
  }

  &:hover {
    & .icon, & .text, & .value {
      color: @primary-color;
    }
  }
}

.@{class-prefix}-progress-container {
  width: 100%;
  position: relative;
  height: 30px;
  border-radius: 2px;
  background-size: 10px 10px;
  
  .@{class-prefix}-progress-prog {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    border-radius: 2px 0px 0px 2px,
  }

  &.green {
    background-image: linear-gradient(135deg, @green-light-color 5%, @green-bg-color 5%, @green-bg-color 50%, @green-light-color 50%, @green-light-color 55%, @green-bg-color 55%, @green-bg-color 100%);

    & .@{class-prefix}-progress-prog {
      background-color: @green-light-color;
    }
  }  

  &.cyan {
    background-image: linear-gradient(135deg, @cyan-light-color 5%, @cyan-bg-color 5%, @cyan-bg-color 50%, @cyan-light-color 50%, @cyan-light-color 55%, @cyan-bg-color 55%, @cyan-bg-color 100%);

    & .@{class-prefix}-progress-prog {
      background-color: @cyan-light-color;
    }
  }  
}

.@{class-prefix}-two-progress-container {
  width: 100%;
  position: relative;
  height: 30px;
  border-radius: 2px;
  
  &.bg-green {
    background-color: @green-light-color;
  }
  &.bg-cyan {
    background-color: @cyan-light-color;
  }  
  &.bg-red {
    background-color: @red-light-color;
  }  
  &.bg-yellow {
    background-color: @yellow-light-color;
  }
  
  & .@{class-prefix}-two-progress-prog {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    border-radius: 2px 0px 0px 2px;
    border-right: 1px solid white;
    
    &.bg-green {
      background-color: @green-light-color;
    }
    &.bg-cyan {
      background-color: @cyan-light-color;
    }  
    &.bg-red {
      background-color: @red-light-color;
    }  
    &.bg-yellow {
      background-color: @yellow-light-color;
    }
  }
}

.ant-list-item-meta {
  flex-wrap: wrap;
}

.@{class-prefix}-task-list-item {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 15px;

    .@{class-prefix}-card-ticketlist & {
      margin-bottom: 20px;
    }
  }

  .@{class-prefix}-card-ticketlist & {

    .@{class-prefix}-hover {
      display: none;

      @media screen and (max-width: @screen-xs-max) {
        display: block;
      }
    }

    .@{class-prefix}-nonhover {
      @media screen and (max-width: @screen-xs-max) {
        display: none;
      }
    }

    &:hover {
      .@{class-prefix}-hover {
        display: inline-block;
      }

      .@{class-prefix}-nonhover {
        display: none;
      }

      & .@{class-prefix}-task-item-title {
        color: @primary-color;
      }
    }
  }

  &:hover {
    cursor: pointer;
    & .gx-text-hover {
      color: @primary-color;
    }
  }
}

.@{class-prefix}-task-item-content {
  .flex-display(flex, row, nowrap);
  .justify-content(space-between);
  max-width: calc(100% ~"-" 40px);

  &-left {
    width: calc(100% ~"-" 250px);

    @media screen and (max-width: @screen-xs-max) {
      width: 100%;
      margin-bottom: 10px;
      padding-right: @size-60;
    }

    .@{class-prefix}-card-ticketlist & {
      width: calc(100% ~"-" 100px);

      @media screen and (max-width: @screen-xs-max) {
        width: 100%;
        padding-right: 0;
      }
    }
  }

  &-right {
    width: 250px;
    .flex-display(flex, row, nowrap);
    .justify-content(flex-end);
    .align-items(center);
    padding-left: 10px;

    @media screen and (max-width: @screen-xs-max) {
      width: 100%;
      padding-left: 0;
      .justify-content(flex-start);
    }

    .@{class-prefix}-card-ticketlist & {
      padding-top: 8px;
      width: 100px;

      @media screen and (max-width: @screen-xs-max) {
        width: 100%;
        padding-top: 0;
      }
    }
  }

  .@{class-prefix}-card-ticketlist & {
    max-width: calc(100% ~"-" 52px);
  }

  .@{class-prefix}-task-date {
    min-width: (@size-60 - 5);
    text-align: right;
  }

  & .ant-tag {
    min-width: @size-60;
    text-align: center;
  }

  @media screen and (max-width: @screen-xs-max) {
    flex-direction: column;
    position: relative;

    & .@{class-prefix}-task-date {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }

    .@{class-prefix}-card-ticketlist & {
      padding-right: 0;
    }
  }
}

.@{class-prefix}-card-ticketlist {
  & .@{class-prefix}-link {
    color: @primary-color;
  }
}

.@{class-prefix}-card-testimonial {
  .flex-display(flex, row, wrap);
  .justify-content(space-between);
  margin-bottom: 12px;

  &-img {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  &-content {
    background-color: @grey-3;
    padding: 15px;
    position: relative;
    margin-left: 10px;
    width: calc(100% ~"-" 70px);
    .border-radius(@border-radius-sm);

    &:before {
      content: "";
      position: absolute;
      left: -10px;
      top: 10px;
      z-index: 1;
      width: 0;
      height: 0;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-right: 10px solid @grey-3;
    }

    & > :last-child {
      margin-bottom: 0;
    }
  }
}

.@{class-prefix}-progress-task {
  position: relative;

  & :last-child {
    margin-bottom: 0;
  }

  &-list {
    .flex-display(flex, row, wrap);
    .align-items(center);
    margin-bottom: 15px;

    & + & {
      border-top: @border-style-base @border-width-base @border-color;
      padding-top: 15px;
    }

    & .ant-progress {
      margin-bottom: 15px;
    }

    &-content {
      margin-left: 20px;
      margin-bottom: 15px;
    }

    @media screen and (max-width: @screen-xs-max) {
      margin-bottom: 0;
    }
  }
}

.@{class-prefix}-act-task {
  position: relative;

  &-cell {
    margin-bottom: 20px;
    .flex-display(flex, row, nowrap);
    .justify-content(space-between);

    @media screen and (max-width: @screen-xs-max) {
      margin-bottom: 10px;
    }
  }

  &-content {
    width: calc(100% ~"-" 72px);

    & label.ant-checkbox-wrapper {
      & span {
        display: block;
        overflow: hidden;
      }

      & span.ant-checkbox {
        float: left;
        padding: 6px 5px 0 0;
      }
    }
  }

  &-btn-view {
    margin-left: 8px;
    width: 65px;
    text-align: right;

    @media screen and (max-width: @screen-xs-max) {
      margin-left: 0;
      margin-top: 10px;
    }
  }
}

.@{class-prefix}-line-indicator {
  list-style: none;
  margin: 0;
  padding-left: 0;

  & li {
    &:not(:last-child) {
      margin-bottom: 10px;

      @media screen and (max-width: @screen-xs-max) {
        margin-bottom: 5px;
      }
    }

    & p {
      margin-bottom: 0;
    }
  }

  &-half {
    .flex-display(flex, row, wrap);
    margin: 0 -12px;

    & li {
      width: 50%;
      padding: 0 12px;
    }
  }

  &-col {
    width: 25%;
    padding-right: 10px;

    @media screen and (max-width: @screen-sm-max) {
      width: 100%;
      padding-right: 0;
    }
  }
}

.@{class-prefix}-line-indi {
  height: 3px;

  &-info {
    .flex-display(flex, row, nowrap);
    .align-items(center);
  }
}

.@{class-prefix}-wel-ema {
  position: relative;
}

.@{class-prefix}-overview-row {
  .flex-display(flex, row, wrap);

  @media screen and (max-width: @screen-sm-max) {
    flex-direction: column;
  }
}

.@{class-prefix}-overview-description {
  width: 32%;
  color: @grey-7;
  .flex-display(flex, column, nowrap);
  margin: -@gx-card-padding-base;
  margin-left: 0;
  border-left: @border-style-base @border-width-base @border-color;
  order: 2;

  @media screen and (max-width: @screen-sm-max) {
    order: 1;
    width: 100%;
    border-left: 0 none !important;
    border-top: @border-style-base @border-width-base @border-color;
    border-bottom: @border-style-base @border-width-base @border-color;
    margin: 15px 0 0;
  }
}

.@{class-prefix}-map-col {
  .flex-only(1);
  padding: @size-50 10px 0;
  order: 1;

  @media screen and (max-width: @screen-sm-max) {
    order: 2;
    padding: 15px 0 0;
  }
}

.@{class-prefix}-revenu {
  .flex-only(1);
  padding: @card-padding-base - 9px;
  .flex-display(flex, column, nowrap);
  .justify-content(center);
  .align-items(center);

  &-total {
    border-bottom: @border-style-base @border-width-base @border-color;

    & h1 {
      font-size: @h1-font-size + @h6-font-size;
      font-weight: @font-weight-semi-bold;
      margin-bottom: 5px;

      @media screen and (max-width: @screen-sm-max) {
        font-size: @h1-font-size;
      }
    }
  }

  &-row {
    .flex-display(flex, row, wrap);
    width: 100%;
  }

  &-col {
    width: 50%;
    padding: 0 (@card-padding-base - 9px);
    text-align: center;

    &:not(:last-child) {
      border-right: @border-style-base @border-width-base @border-color;
    }
  }

  & h3 {
    font-size: @h1-font-size - 2px;
    margin-bottom: 0;
    font-weight: @font-weight-medium;
  }
}

.ant-divider-horizontal {
  margin: 12px 0;
}

.@{class-prefix}-visit-col {
  order: 1;

  @media screen and (max-width: @screen-lg-max) {
    order: 2;
    margin-top: 20px;
  }
}

.@{class-prefix}-audi-col {
  order: 2;

  @media screen and (max-width: @screen-lg-max) {
    order: 1;
  }

  @media screen and (max-width: @screen-xs-max) {
    margin-top: 20px;
  }
}

.@{class-prefix}-rechart {
  position: relative;

  &-prod {
    position: absolute;
    left: 30px;
    top: 0;
    z-index: 1;

    @media (max-width: (@screen-xl-min + 166px)) {
      left: 20px;
    }
  }
}

.@{class-prefix}-pink-purple-gradient {
  .horizontal-gradient(#564093, #d2449d);
}

.@{class-prefix}-pink-purple-gradient-reverse {
  .horizontal-gradient(#872776, #352883);
}

.@{class-prefix}-blue-cyan-gradient {
  .corner-left-gradient(#45d1e6, #4363c6);
}

.@{class-prefix}-app-thumb {
  display: inline-block;
}

.@{class-prefix}-card-cover-black {
  & .ant-card-head {
    background-color: @black-color;
    color: @white-color;
    padding-top: 20px;

    & h1 {
      color: @white-color;
    }
  }

  & .ant-card-head-title {
    .flex-display(flex, column, nowrap);
  }

  & .ant-card-body {
    padding: 1rem;
  }
}

.@{class-prefix}-dot-arrow-hover {
  position: relative;
  overflow: hidden;

  &:hover {
    & .@{class-prefix}-hover-arrow {
      left: -15px;
    }
  }
}

.@{class-prefix}-dot-arrow {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  padding-right: 10px;
  cursor: pointer;
  .flex-display(flex, column, nowrap);
  .justify-content(center);

  .@{class-prefix}-dot {
    cursor: pointer;
    .transition(all 0.3s ease-out);
    .flex-display(flex, column, nowrap);
    .justify-content(center);
  }
}

.@{class-prefix}-hover-arrow {
  .transition(all 0.3s ease-out);
  cursor: pointer;
  .border-radius(@border-radius-circle 0 0 @border-radius-circle);
  .flex-display(flex, row, wrap);
  .justify-content(flex-start);
  .align-items(center);
  width: (@size-100 + 7);
  height: (@size-100 + 7);
  position: absolute;
  left: 15px;
  padding: 10px;
  font-size: (@font-size-lg + 4);

  & .icon {
    display: flex;
  }
}

.@{class-prefix}-actchart {
  margin-bottom: -4px;
}

.@{class-prefix}-user-wid {
  width: @size-80;
  position: relative;

  & img {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  &-row {
    .flex-display(flex, row, nowrap);
  }

  &-body {
    .flex-only(1);
  }
}

.@{class-prefix}-build-box-lay {
  .boxed-layout &,
  .framed-layout & {
    padding: 0 10px !important;

    & img {
      width: @size-50;
    }
  }

  @media (max-width: (@screen-xl-min + 166px)) {
    padding: 0 10px !important;

    & img {
      width: @size-50;
    }
  }

  &-content {
    max-width: calc(100% ~"-" 70px);
  }
}

.@{class-prefix}-chart-title {
  font-size: @font-size-base;

  @media (max-width: (@screen-xl-min + 166px)) {
    font-size: (@font-size-base - 2);
  }
}

.@{class-prefix}-widget-bg {
  .horizontal-gradient(#4c429a, #9956ce);
  color: @white-color;
  position: relative;

  & h1 {
    color: @white-color;
  }
}

.@{class-prefix}-widget-badge {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  background-color: darken(@pink-4, 5%);
  color: @white-color;
  padding: 5px 12px;
  .border-radius(0 @border-radius-lg 0 @border-radius-lg);
}

.@{class-prefix}-fnd-content {
  padding-right: @size-40;

  @media (max-width: (@screen-xl-min + 166px)) {
    padding-right: 0;
  }

  @media screen and (max-width: @screen-xs-max) {
    margin-top: 20px;
  }
}

.@{class-prefix}-fnd-gallery-list {
  list-style: none;
  padding-left: 0;
  margin: 0 -6px;
  .flex-display(flex, row, nowrap);

  & li {
    padding: 0 6px;

    & > img {
      width: (@size-60 + 5);

      @media (max-width: (@screen-xl-min + 166px)) {
        width: @size-50;
      }
    }
  }
}

.@{class-prefix}-fnd-title {
  font-size: 2*@font-size-base - 4px;
  margin-bottom: 15px;

  @media (max-width: (@screen-xl-min + 166px)) {
    font-size: @font-size-lg + 4px;
    margin-bottom: 5px;
  }
}

.@{class-prefix}-chart-up {
  color: @green-color;

  .@{class-prefix}-bg-geekblue & {
    color: @white-color;
  }
}

.@{class-prefix}-chart-down {
  color: @red-6;

  & .icon {
    .rotate(180deg);
    display: inline-block;
  }
}

.@{class-prefix}-barchart {
  margin-top: -15px;

  @media screen and (max-width: @screen-lg-max) {
    margin-top: 0;
  }
}

.@{class-prefix}-customers {
  margin-top: -7px;
  margin-bottom: -7px;

  @media (max-width: (@screen-xl-min + 166px)) {
    margin-top: -2px;
    margin-bottom: -2px;

    & .gx-size-60 {
      height: @size-50 !important;
      width: @size-50 !important;
      line-height: @size-50 !important;
    }
  }

  @media (max-width: @screen-xs-max) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.@{class-prefix}-fillchart {
  position: relative;
  color: @white-color;
  min-height: 122px;
  .flex-display(flex, row, wrap);
  .align-items(flex-end);
  .transition(all 0.7s ease-out);

  &-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 15px 20px;

    .@{class-prefix}-overlay-fillchart & {
      background-color: fade(@white-color, 35%);
    }
  }

  & .ant-card-head-title,
  & h2,
  & .@{class-prefix}-chart-up,
  & .@{class-prefix}-chart-down {
    color: @white-color;
  }

  & .@{class-prefix}-chart-up,
  & .@{class-prefix}-chart-down {
    margin-right: 6px;
  }

  &-btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 1;
    .opacity(0);
    visibility: hidden;
    cursor: pointer;
    .transition(all 0.3s ease-out);

    & .icon:before {
      line-height: @size-30;
    }

    &-close {
      position: absolute;
      right: 10px;
      top: 10px;
      color: @primary-color;
      background-color: @white-color;
      width: @size-30;
      height: @size-30;
      text-align: center;
      .opacity(0);
      visibility: hidden;
      cursor: pointer;
      .transition(all 0.3s ease-out);
      .flex-display(flex, column, nowrap);
      font-size: @font-size-lg;
      .border-radius(@border-radius-circle);

      & .icon {
        font-size: @font-size-lg + 8px;
        width: @size-30;
        height: @size-30;
        line-height: @size-30 + 8px;
      }
    }
  }

  &:hover .@{class-prefix}-fillchart-btn {
    .opacity(1);
    visibility: visible;
  }

  &-nocontent {
    & .@{class-prefix}-fillchart-content,
    & .@{class-prefix}-fillchart-btn,
    &:hover .@{class-prefix}-fillchart-btn {
      .opacity(0);
      visibility: hidden;
    }

    & .@{class-prefix}-fillchart-btn-close {
      .opacity(1);
      visibility: visible;
    }

    .ant-card-head-title {
      position: absolute;
      left: 20px;
      top: 15px;
      z-index: 1;
    }
  }
}

.@{class-prefix}-agents-list {
  .flex-display(flex, row, wrap);
  margin: 0 -15px;
  list-style: none;
  padding-left: 0;

  & li {
    width: 20%;
    padding: 0 15px;
    margin-bottom: 30px;

    @media screen and (max-width: @screen-lg-max) {
      width: 25%;
    }

    @media screen and (max-width: @screen-md-max) {
      width: 20%;
    }

    @media screen and (max-width: @screen-sm-max) {
      width: 33.33%;
    }

    @media screen and (max-width: @screen-xs-max) {
      width: 50%;
      padding: 0 10px;
      margin-bottom: 20px;
    }
  }

  @media screen and (max-width: @screen-xs-max) {
    margin: 0 -10px;
  }
}

.@{class-prefix}-featured {
  &-item:not(:last-child) {
    border-bottom: @border-style-base @border-width-base @border-color;
    padding-bottom: 10px;
    margin-bottom: @size-30;

    .@{class-prefix}-card-profile & {
      padding-bottom: 8px;
      margin-bottom: (@size-30 - 5);
    }

    @media (max-width: @screen-xs-max) {
      margin-bottom: (@size-30 - 3);
    }
  }

  &-item {
    &:last-child {
      & .@{class-prefix}-featured-thumb {
        margin-bottom: 0;

        @media (max-width: @screen-xs-max) {
          margin-bottom: 15px;
        }
      }
    }

    @media (max-width: @screen-xs-max) {
      .flex-display(flex, column, nowrap);
      .align-items(normal);
    }
  }

  &-thumb {
    position: relative;
    margin-right: @size-20 + 5px;
    margin-bottom: 10px;

    @media (max-width: @screen-xs-max) {
      margin-right: 0;
      margin-bottom: 15px;

      & > img {
        width: 100% !important;
        height: auto !important;
      }
    }

    & .ant-tag {
      position: absolute;
      left: 15px;
      top: 15px;
      z-index: 1;
      margin: 0;
    }

    .@{class-prefix}-card-profile & {
      max-width: (@size-120 + 10);

      @media (max-width: @screen-sm-max) {
        max-width: none;
      }
    }
  }

  &-content {
    .flex-display(flex, row, nowrap);

    @media (max-width: (@screen-xl-min + 166px)) {
      font-size: (@font-size-sm + 1);
    }

    @media (max-width: @screen-lg-max) {
      font-size: @font-size-base;

      .@{class-prefix}-card-profile & {
        .flex-display(flex, column, nowrap);
      }
    }

    @media (max-width: @screen-sm-max) {
      .flex-display(flex, column, nowrap);
    }

    &-right {
      .flex-display(flex, column, nowrap);
      margin-left: auto;
      text-align: right;

      .@{class-prefix}-card-profile & {
        font-size: @font-size-base;
      }

      @media (max-width: @screen-lg-max) {
        .@{class-prefix}-card-profile & {
          text-align: left;
          margin-left: 0;

          & h2 {
            font-size: @h4-font-size;

            & .@{class-prefix}-fs-lg {
              font-size: @font-size-base;
            }
          }
        }
      }

      @media (max-width: @screen-sm-max) {
        margin-left: 0;
        text-align: left;
        margin-top: 15px;
      }

      @media (max-width: @screen-xs-max) {
        .@{class-prefix}-card-profile & {

          & h2 {
            font-size: @font-size-base;
          }
        }
      }
    }
  }
}

.@{class-prefix}-news {
  &-item {
    .flex-display(flex, row, nowrap);

    &:not(:last-child) {
      margin-bottom: @size-30;

      @media (max-width: @screen-sm-max) {
        margin-bottom: (@size-20 + 6);
      }

      @media (max-width: @screen-xs-max) {
        margin-bottom: (@size-20 + 2);
      }
    }

    @media (max-width: @screen-xs-max) {
      .flex-display(flex, column, nowrap);
    }
  }

  &-thumb {
    position: relative;
    margin-right: @size-20 + 5px;

    @media (max-width: (@screen-xl-min + 166px)) {
      margin-right: 15px;
    }

    @media (max-width: @screen-xs-max) {
      margin-right: 0;
      margin-bottom: 12px;

      & > img {
        width: 100% !important;
        height: auto !important;
      }
    }
  }

  &-content {
    color: lighten(@text-color, 8%);
    width: calc(100% ~"-" 200px);

    @media (max-width: (@screen-xl-min + 166px)) {
      width: calc(100% ~"-" 190px);
    }

    @media (max-width: @screen-xs-max) {
      width: 100%;
    }
  }

  &-tags {
    &-row {
      .flex-display(flex, row, nowrap);

      @media (max-width: (@screen-xl-min + 166px)) {
        font-size: @font-size-sm;
      }
    }

    &-left {
      width: calc(100% ~"-" 180px);

      @media (max-width: (@screen-xl-min + 166px)) {
        width: calc(100% ~"-" 130px);
      }
    }

    &-right {
      width: 180px;
      padding-left: 8px;
      text-align: right;

      @media (max-width: (@screen-xl-min + 166px)) {
        width: 130px;
      }
    }
  }
}

.@{class-prefix}-currentplan {
  &-row {
    .flex-display(flex, row, wrap);
    margin: 0 -5px;
  }

  &-col {
    width: 50%;
    padding: 0 5px;

    @media (max-width: (@screen-xl-min + 166px)) {
      width: 100%;
    }

    @media (max-width: @screen-md-max) {
      width: 50%;
    }

    @media (max-width: @screen-xs-max) {
      width: 100%;
    }
  }

  &-right {
    border-left: @border-style-base @border-width-base @border-color;

    @media (max-width: (@screen-xl-min + 166px)) {
      border-left: 0 none !important;
      border-top: @border-style-base @border-width-base @border-color;
      padding-top: 10px;
    }

    @media (max-width: @screen-md-max) {
      border-left: @border-style-base @border-width-base @border-color !important;
      border-top: 0 none;
      padding-top: 0;
    }

    @media (max-width: @screen-xs-max) {
      border-left: 0 none !important;
      border-top: @border-style-base @border-width-base @border-color;
      padding-top: 22px;
    }

    &-content {
      .flex-display(flex, column, nowrap);
      .justify-content(flex-end);
      .align-items(flex-end);
      height: 100%;
      text-align: right;

      @media (max-width: (@screen-xl-min + 166px)) {
        .justify-content(flex-start);
        .align-items(flex-start);
        text-align: left;
      }

      @media (max-width: @screen-md-max) {
        .justify-content(flex-end);
        .align-items(flex-end);
        text-align: right;
      }

      @media (max-width: @screen-xs-max) {
        .justify-content(flex-start);
        .align-items(flex-start);
        text-align: left;
      }
    }
  }
}

.@{class-prefix}-oth-plans-down {
  display: none;

  @media (max-width: (@screen-xl-min + 166px)) {
    display: block;
    margin-top: 15px;
  }

  @media (max-width: @screen-md-max) {
    display: none;
    margin-top: 0;
  }

  @media (max-width: @screen-xs-max) {
    display: block;
    margin-top: 20px;
  }
}

.@{class-prefix}-oth-plans-up {
  @media (max-width: (@screen-xl-min + 166px)) {
    display: none;
  }

  @media (max-width: @screen-md-max) {
    display: block;
  }

  @media (max-width: @screen-xs-max) {
    display: none;
  }
}

.@{class-prefix}-revenue-title {
  font-weight: @font-weight-semi-bold;
  font-size: 2*@font-size-lg - 2px;
  line-height: 1;
  color: @black-color;

  @media (max-width: (@screen-xl-min + 166px)) {
    font-size: 2*@font-size-lg - 4px;
  }

  @media (max-width: @screen-xs-max) {
    padding-top: 15px;
  }
}

.@{class-prefix}-dealclose-header {
  .flex-display(flex, row, wrap);

  &-right {
    margin-left: auto;
    .flex-display(flex, row, wrap);

    @media (max-width: (@screen-xl-min + 166px)) {
      margin-left: 0;
      margin-bottom: 20px;
      margin-top: 15px;
    }

    @media (max-width: @screen-md-max) {
      margin-left: auto;
      margin-bottom: 0;
      margin-top: 0;
    }

    @media (max-width: @screen-xs-max) {
      margin-left: 0;
    }
  }

  @media (max-width: (@screen-xl-min + 166px)) {
    .flex-display(flex, column, nowrap);
  }

  @media (max-width: @screen-md-max) {
    .flex-display(flex, row, wrap);
  }

  @media (max-width: @screen-xs-max) {
    .flex-display(flex, column, nowrap);
  }
}

.@{class-prefix}-order-history {

  .ant-table {
    @media (max-width: (@screen-xl-min + 166px)) {
      font-size: @font-size-sm;
    }
  }
}

.@{class-prefix}-icon-img {
  width: @size-60;
  height: @size-60;

  @media screen and (max-width: (@screen-xl-min + 166px)) {
    width: @size-40;
    height: @size-40;
  }
}

.@{class-prefix}-smart-img {
  max-height: 90px;
  width: 100%;
  object-fit: cover;

  @media screen and (max-width: @screen-xs-max) {
    max-height: 180px;
  }
}

.@{class-prefix}-ayurveda-thumb {
  max-height: 150px;

  & > img {
    object-fit: cover;
  }
}

.@{class-prefix}-dash-search {
  position: relative;

  @media screen and (max-width: @screen-xs-max) {
    padding-right: @size-30;

    & .@{class-prefix}-search-icon {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
    }
  }
}

.@{class-prefix}-bg-dark-primary {
  background-color: @primary-color;
  position: relative;
  overflow: hidden;

  & > * {
    position: relative;
    z-index: 1;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: fade(@black-color, 72%);
  }
}

@media screen and (max-width: (@screen-xl-min + 166px)) {
  .recharts-text {
    font-size: @font-size-sm;
  }
}

@media screen and (max-width: @screen-xs-max) {
  .@{class-prefix}-list-item {
    & .ant-list-item-content {
      flex-direction: column;
    }
  }
}

.@{class-prefix}-dashboard-uprade-day {
  color: #f55555;
}

.@{class-prefix}-popover-no-padding {
  margin: -12px -16px;
  background-color: #fcfbfb;
}

.ant-notification-notice {
  box-shadow: 0 1px 8px #ccd1db;
  margin-bottom: 10px;
  padding: 12px 15px;  
  width: 436px;
  margin-left: -60px; //(375 - 436)

  @media screen and (max-width: @screen-xs-max) {
    width: calc(100vw ~ "-" 40px);
    margin-left: calc(425px ~"-" 100vw);
  }

  .ant-notification-notice-with-icon .ant-notification-notice-message {
    font-size: 14px;
    line-height: 36px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 0px;
  }

  .anticon-close {
    display: none;
  }

  .ant-notification-notice-btn {
    position: absolute;
    top: 18px;
    right: 20px;
    margin-top: 0px;
  }
}

.@{class-prefix}-topmenu-search {  
  &-wrapper {
    height: 60px;
    padding: 12px 0px;
    /*
    &.ant-popover-open {      
      box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.15);

      & .@{class-prefix}-search-bar{
        background-color: white;
      }
    } */
  }
}

.@{class-prefix}-topmenu-search-popover {
  transform-origin: 0 !important;
  padding-top: 0px;
  top: 0px !important;
  
  & .ant-popover-arrow {
    display: none;
  }
  & .ant-popover-inner {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  & .ant-popover-inner-content {
    padding: 0px;
  }

  & .@{class-prefix}-lt-icon-search-bar-top {
    background-color: white;    
  }

  & .@{class-prefix}-topmenu-search-wrapper {
    position: relative;
    border-bottom: 1px solid #e6e7ed;

    & .ant-input {
      padding-right: 60px;
    }
    
    & .@{class-prefix}-topmenu-search-typing-wrapper
    {
      position: absolute;
      right: 20px;
      top: 15px;
      & > img {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.@{class-prefix}-custom-tag {
  text-transform: uppercase;
  font-size: 10px;
  line-height: 16px;
  font-weight: 500;
  margin-left: 6px;
  padding: 0 4px;

  height: 16px;
  border-radius: 8px;
  color: white;
}

.@{class-prefix}-search-doing {
  width: 100%;
  height: 150px;
  text-align: center;  
  color: #dbdde5;
  font-size: 30px;
  line-height: 150px;
  font-weight: 600;
}

.@{class-prefix}-topmenu-search-result-container {
  padding-top: 10px;
  padding-bottom: 20px;  
}
.@{class-prefix}-topmenu-search-result-category {
  &-title {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    color: @header-text-color;    
  }

  & .@{class-prefix}-topmenu-search-result-item-tool {
    display: none;
  }

  & .@{class-prefix}-topmenu-search-result-item {    
    height: 50px;
    font-size: 13px;
    line-height: 16px;
    color: @text-color;   

    &:hover {
      & .@{class-prefix}-topmenu-search-result-item-tool {
        display: block;
      }
      & .@{class-prefix}-main-avatar {
        background-color: @primary-color;
      }
    }
  }
}

.@{class-prefix}-dashboard-overall-tabs {
  &-header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 10;
    
    .flex-display(flex, row, nowrap);
    .align-items(center);
    .justify-content(space-between);

    & .@{class-prefix}-sub-title{
      min-width: 180px;
    }
    
    @media screen and (max-width: @screen-sm-max) {
      height: 100px;
      .flex-display(flex, column, nowrap);      
      .align-items(start);

      & .@{class-prefix}-sub-title{
        width: 100%;
        border-bottom: 1px solid #e5e7ed;
      }
    }
    background-color: white;
    box-shadow: 1px 1px 5px #dce0e9;

    & .ant-tabs-bar {
      margin: 0px;
      border: none;
    }

    & .ant-tabs-ink-bar {
      // display: none !important;
      top: 0px;
      bottom: auto;
    }

    & .ant-tabs-nav-container {
      margin-bottom: 0px;
      & .ant-tabs-nav-wrap {
        margin-bottom: 0px;
      }
    }

    & .ant-tabs-tab {
      font-size: 14px;
      font-weight: 500;
      line-height: 36px;      
      color: @text-grey;
      border-left: 1px solid #e6e7ed;
      border-bottom: none;

      margin: 0px;
      
      @media screen and (max-width: @screen-sm-max) {
        line-height: 14px;      
      }

      &.ant-tabs-tab-active {
        color: @primary-color;
        background-color: #fcfbfb;
        // border-top: 2px solid #257cde;
      }    
    }
    
  }
}

.@{class-prefix}-dashboard-overall-panel { 
  .flex-display(flex, row, nowrap);

  
  padding-top: 60px;
  min-height: 330px;
  background-color: #fcfbfb;
    
  @media screen and (max-width: @screen-sm-max) {
    .flex-display(flex, column, wrap);
    padding-top: 100px;
  }

  &-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;    
    height: 45px;
    border-top: 1px solid #e6e7ed;
    padding : 0 20px;
  }
}

.@{class-prefix}-dashboard-overall-overview-welcome-panel {
  height: 100%;
  background-color: white;
  box-shadow: 0 0 6px #dde0e5;  
  padding: 20px;
}

.@{class-prefix}-dashboard-overall-overview-jobslist-panel {
  background: transparent;
  height: 100%;
  padding: 20px 0;
}

.@{class-prefix}-dashboard-roundpager {
  margin-left: 6px;
  width: 15px;
  height: 15px;
  background-color: #e6e7ed;
  border-radius: 50%;
  cursor: pointer;

  &:first-child {
    margin-left: 0px;
  }

  &.selected {
    background-color: @primary-color;
  }
}

.@{class-prefix}-dashboard-overall-overview-welcome-quickaction {
  cursor: pointer;
  &:hover {
    & .@{class-prefix}-dashboard-overall-overview-welcome-roundindex {
      background-color: @primary-color;
      color: white;
    }
  }
}

.@{class-prefix}-dashboard-overall-overview-welcome-roundindex {
  margin-right: 6px;
  width: 17px;
  height: 17px;
  font-size: 10px;
  font-weight: 600;
  line-height: 13px;
  text-align: center;
  color: @primary-color;
  background-color: white;
  border-radius: 50%;
  border: 2px solid @primary-color;
}

.@{class-prefix}-dashboard-overall-small-card {  
  box-shadow: @box-shadow-base; 
  background-color: @white-color;
  border-radius: 8px;  
  height: 87px;
  .flex(1, 1, 0);  
  cursor: pointer;

  & .text {
    color: @text-grey;
    vertical-align: middle;
  }

  &:first-child {    
    margin-right: 6px;
  }
  &:not(:first-child) {    
    margin-left: 6px;
  }

  &.cyan{
    & .count {
      background-color: @cyan-light-color;
    }
    &:hover {
      & .text {
        color: @cyan-color;
      }

      & .count {
        background-color: @cyan-color;
      }
    }
  }

  &.green{
    & .count {
      background-color: @green-light-color;
    }
    &:hover {
      & .text {
        color: @green-color;
      }
      & .count {
        background-color: @green-color;
      }
    }
  }  
}

.@{class-prefix}-dashboard-overall-overview-jobslist {

  &-wrapper {
    padding: 5px 20px;    
  }

  &-scroll {
    width: 100%;
    height: 200px;
    overflow-y: scroll;

  }

  &-item {
    width: 100%;
    padding: 13px;
    margin-bottom: 10px;    
    background-color: white;
    box-shadow: 0 0 6px #dde0e5;
    border-radius: 4px;

    cursor: pointer;
    & .@{class-prefix}-main-avatar {
      color: #fcfbfb;
    }

    &-name {
      font-size: 13px;
      font-weight: 500;
      color: @header-text-color;
    }

    &:hover {      
      & .@{class-prefix}-dashboard-overall-overview-jobslist-item-name { 
        color: @primary-color;      
      }  
      & .@{class-prefix}-main-avatar {
        background-color: @primary-color;      
      }
    }
  }  
}

.@{class-prefix}-dashboard-overall-table {
  &-item-name {
    color: @header-text-color;
  }
  & tr:hover {
    & .@{class-prefix}-dashboard-overall-table-item-name {
      color: @primary-color;
    }

    & .@{class-prefix}-main-avatar {
      background-color: @primary-color;
    }
  }
}

.ant-tabs-tab-next {
  right: 0px;
}

.@{class-prefix}-dashboard-overall-tabs-wrapper {
  margin-right: 20px;

  @media screen and (max-width: @screen-sm-max) {
    width: 100%;
  }
  & .ant-tabs-tab-prev {
    border-right: 1px solid #e6e7ed;
  }

  & .ant-tabs-tab-next {
    border-left: 1px solid #e6e7ed;
  }
}

.@{class-prefix}-dashboard-overall-table-scroll {
  width: 100%;
  height: 225px;    // 330 - 60 - 45
  margin-bottom: 45px;
  overflow-y: scroll;
}


.@{class-prefix}-dashboard-overall-table {
  min-width: 650px !important;
}

.@{class-prefix}-dashboard-feedback-pager {
  position: absolute;
  bottom: 20px;
  left: 20px;
}



//================== addjobsearch ===============

div.gx-dispatch-topmenu.gx-addjob-topbar {
  padding-left: 32px;
  padding-right: 32px;
}
@media screen and (max-width: @screen-sm-max) {
  padding-left: 0;
  padding-right: 0;
}
.@{class-prefix}-addjob-search-wrapper {
  position: relative;
  border-bottom: 1px solid #e6e7ed;
  background-color: white; 
  -webkit-box-shadow: 0 0 12px #e5e5e5;
  box-shadow: 0 0 12px #e5e5e5;
  & .ant-input {
    padding-right: 60px !important;
    padding-left: 60px !important;
    height: 60px;
    background-color: white !important;
  }


  & .@{class-prefix}-addjob-search-typing-wrapper
  {
    position: absolute;
    right: 15px;
    top: 15px;
    & > img {
      width: 30px;
      height: 30px;
    }
  }
  & .@{class-prefix}-search-icon {
    width: 30px;
    height: 30px;
    top: 15px;
    left: 15px;
  }
}

& .@{class-prefix}-addjob-search-container {
  position: absolute;
  width: 100%;
  z-index: 100;
  border-top:#2571bf 2px solid;
  -webkit-box-shadow: 0 0 12px #e5e5e5;
  box-shadow: 0 0 12px #e5e5e5;
  & .@{class-prefix}-addjob-search-result-item {   
    border-top: #e5e5e5 1px solid; 
    height: 50px;
    line-height: 16px;
    & .@{class-prefix}-addjob-search-result-item-name {  
      font-size: 16px;
      color: @text-color; 
    }
    & .@{class-prefix}-addjob-search-result-item-address {  
      font-size: 13px;
      color: @text-color; 
      float: right;
      margin-left: auto;
    }
  }
  & .@{class-prefix}-addjob-search-result-item:hover {
    & .@{class-prefix}-addjob-search-result-item-name {  
      font-size: 16px;
      color: #2571bf; 
    }
    & .@{class-prefix}-main-avatar {
      background-color: #2571bf;
    }
  }
}

@media screen and (max-width: 1200px) {
  h3.gx-addjob-top-title {
    display: none;
  }
}

@media screen and (max-width: @screen-sm-max) {
  div.ant-steps-item-wait,
  div.ant-steps-item-finish {
    & div.ant-steps-item-content {
      display: none;
    }
  }
  div.ant-steps-item-process {
    & div.ant-steps-item-content {
      display: inline-block;
    }
  }
  div.gx-main-content-wrapper {
    & div.gx-dispatch-topmenu.gx-addjob-topbar {
      display: flex;
      justify-content: center;
    }
  }
}
/////////////////////steps mobile responsive//////////////////////////////////

@media screen and (max-width: 480px) {
  div.ant-steps-item-wait,
  div.ant-steps-item-finish {
    & div.ant-steps-item-content {
      display: none !important;
    }
  }
  div.ant-steps-item-process {
    & div.ant-steps-item-content {
      display: inline-block;
    }
  }
  div.gx-main-content-wrapper {
    & div.gx-dispatch-topmenu.gx-addjob-topbar {
      display: flex;
      justify-content: center;
    }
  }
  div.ant-steps-horizontal.ant-steps-label-horizontal {
    display: flex;
    align-items: center !important;
  }
  div.ant-steps-horizontal.ant-steps-label-horizontal {
    
    & .ant-steps-item-content {
      display: flex;
      align-items: center;
    }
    & .ant-steps-item {
      display: flex;
      align-items: center;
    }
  }
}
.ant-steps-horizontal:not(.ant-steps-label-vertical) .ant-steps-item:last-child {
  padding-right: 0 !important;
}

.ant-steps-horizontal:not(.ant-steps-label-vertical) div.ant-steps-item:nth-child(2) { 
  padding-right: 0 !important;
}
@media screen and (max-width: @screen-sm-max) {
  div.ant-steps-item {
    flex: none;
  }
  .ant-steps-horizontal:not(.ant-steps-label-vertical) div.ant-steps-item:nth-child(2) { 
    padding-right: 30px !important;
  }
  .ant-steps-horizontal:not(.ant-steps-label-vertical) div.ant-steps-item:nth-child(1) { 
    padding-right: 30px !important;
  }
}
///////////////////////////////////////////////////////////////////////////////////////////
div.gx-main-content-wrapper {
  & div.gx-addjob-top-btngroup-mobile {
    margin-top: 60px;
    height: 60px;
    background: #fcfafb;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px #00000024;
  }
}

div.gx-addjob-topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}
@media screen and (max-width: @screen-md-max) {
  div.gx-addjob-topbar {
    justify-content: center;
  }
}
button.gx-addjob-next-btn {
  background-color: @green-color;
  padding-left: 40px;
  padding-right: 40px;
  border: none;
  & span {
    color: white;
  }
}
button.gx-addjob-next-btn:hover {
  background-color: @green-color;
  border: @green-color;
}
button.gx-addjob-next-btn:focus {
  background-color: @green-color;
  border-color: @green-color;
}

.@{class-prefix}-addjob-customer-widget {
  & .@{class-prefix}-addjob-customer-widget-item {
    padding: 5px;
    align-items: center;
    display: flex;
  }
  & .@{class-prefix}-addjob-customer-widget-text {
    font-size: 14px;
  }
  & .@{class-prefix}-addjob-customer-widget-icon {
    font-size: 24px;
    margin-left: auto;
    margin-right: 0;
    float: right;
  }
}

button.gx-addjob-save-btn {
  box-shadow: 0 0 12px #E5E5F6 !important;
  border: none !important;
  & span {
    color: #a7abb6;
  }
}
button.gx-addjob-save-btn:hover {
  background-color: #eee;
  border: 1px solid #eee;
}

// steps
div.ant-steps-item-process {
  & div.ant-steps-item-icon {
    border-width: 3px !important;
    border-color: #257bdc !important;
    background-color: white;
    & span.ant-steps-icon {
      color: #257bdc;
    }
  }
  & div.ant-steps-item-content > div.ant-steps-item-title {
    color: #257bdc !important;
  }
}

div.ant-steps-item-wait {
  & div.ant-steps-item-icon {
    border-width: 3px !important;
    border-color: #b5b5bc !important;
    background-color: white;
    & span.ant-steps-icon {
      color: #b5b5bc;
    }
  }
  & div.ant-steps-item-content > div.ant-steps-item-title {
    color:#b5b5bc !important;
  }
}

div.ant-steps-item-finish {
  & div.ant-steps-item-content > div.ant-steps-item-title {
    color: #257bdc !important;
  }
}
div.ant-steps-item-icon {
  border-width: 3px !important;
}

div.ant-steps {
  & div.ant-steps-item {
    display: content !important;
    & div.ant-steps-item-content div.ant-steps-item-title:after {
      display: none;
    }
  }
  & div.ant-steps-item:not(:last-child):after {
    position: absolute;
    top: 50%;
    left: 100%;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-top: -7px;
    margin-left: -30px;
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-bottom: none;
    border-left: none;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    content: '';
  }
  & div.ant-steps-item-finish:not(:last-child):after {
    position: absolute;
    top: 50%;
    left: 100%;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-top: -7px;
    margin-left: -30px;
    border: 2px solid #257bdc;
    border-bottom: none;
    border-left: none;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    content: '';
  }
}

.ant-steps-horizontal:not(.ant-steps-label-vertical) div.ant-steps-item {
  margin-right: 0px;
  padding-right: 60px;
}

.gx-nav-btn.gx-addjob-new-customer {
  color: #247cdd !important;
  background-color: #f5f5f5 !important;
  & div.gx-div-align-center {
    font-size: 16px;
  }
}


//========== Add job step2 ( Add job items)
div.gx-addjob-step2-addjobitem-total-panel {
  padding-left: 20px;
  padding-right: 20px;
  & div.gx-addjob-step2-subpane {
    margin-left: 0px;
    margin-right: 0;
    
    & div.ant-col {
      padding-left: 0;
      padding-right: 0;
    }
    & div.ant-row div.ant-col:nth-child(3) {
      display: flex;
      flex-flow: row-reverse;
    }
    & div.ant-row div.ant-col:nth-child(4) {
      display: flex;
      flex-flow: row-reverse;
    }
    & div.ant-row div.ant-col:nth-child(7) {
      display: flex;
      flex-flow: row-reverse;
    }
    & div.ant-row div.ant-col:nth-child(6) {
      display: flex;
      flex-flow: row-reverse;
    }
    & div.gx-panel-title-bar {
      padding: 0;
      & div.ant-row {
        padding: 0 1vw 0 1vw;
        margin-right: 0;
        margin-left: 0;
        width: 100%;
      }
    }
    & div.gx-panel-content div.ant-row {
      width: 100%;
      padding: 10px 1vw 0 1vw;
      margin-right: 0;
      margin-left: 0;
      display: flex;
      align-items: center;
      & div.ant-col input {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        background: #fcfbfb;
        border-radius: 0;
        padding-left: 0;
        padding-right: 0;
      }
      & div.ant-col input:focus {
        border-left: none;
        border-right: none;
        border-top: none;
        box-shadow: none;
      }
      & div.ant-col div.ant-input-number {
        border-left: none;
        border-right: none;
        border-top: none;
        border-radius: 0;
      }
      & div.ant-col div.ant-input-number:focus {
        border-left: none;
        border-right: none;
        border-top: none;
        box-shadow: none;
      }
    }
  }

  & .price-box {
    padding: 1rem;
    text-align: right;

    .price-label-highlight {
      color: #257bde;
    }

    .price-value-disable {
      color: #9399a2;
    }
  }
}

div.gx-addjob-step2-subpane-mobile {
  & div.gx-panel-content {
    padding: 80px 20px 0 20px;
    & div input {
      border-top: 0;
      border-left: 0;
      border-right: 0;
      background: #fcfbfb;
      border-radius: 0;
      padding-left: 0;
      padding-right: 0;
    }
    & div input:focus {
      border-left: none;
      border-right: none;
      border-top: none;
      box-shadow: none;
    }
    & div div.ant-input-number {
      border-left: none;
      border-right: none;
      border-top: none;
      border-radius: 0;
    }
    & div div.ant-input-number:focus {
      border-left: none;
      border-right: none;
      border-top: none;
      box-shadow: none;
    }
  }
}
//===============================
