.gx-app-module.gx-chat-module .gx-chat-panel-content{
    padding: 30px 30px 0px 30px;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content{
    display: flex;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-sidebar{
    width: 250px;
    min-width: 250px;
    box-shadow: 1px 1px 5px #dce0e9;
    height: calc(100vh - 94px);
    min-height: calc(100vh - 94px);
    position: relative;
    z-index: 10;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-sidebar .gx-chat-sidebar-header{
    height: 64px;
    box-shadow: 0px 1px 5px #dce0e9;
    position: absolute;
    width: 100%;
    z-index: 10;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-sidebar .gx-chat-sidebar-body{
    padding-top: 64px;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-sidebar .gx-chat-sidebar-body .ant-menu{
    border: 0px;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-sidebar .gx-chat-sidebar-body .ant-menu-item{
    padding: 8px 20px!important;
    display: flex;
    height: 46px;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-sidebar .gx-chat-sidebar-body .ant-menu-item:hover{
    background-color: #e6faff;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-sidebar .gx-chat-sidebar-body .ant-menu-item.ant-menu-item-selected{
    background-color: #e6faff;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-sidebar .gx-chat-sidebar-body .ant-menu-item.ant-menu-item-selected .gx-employee-name{
    color: #257cde;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-sidebar .gx-chat-sidebar-body .ant-menu-item .gx-sidebar-item{
    display: flex;
    align-items: center;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-sidebar .gx-chat-sidebar-body .ant-menu-item .gx-sidebar-item .ant-badge-count{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    border-radius: 2px !important;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-header{
    padding: 0px 30px;
    box-shadow: 4px 1px 10px rgba(0, 0, 0, 0.14);
    position: absolute;
    width: calc(100vw - 310px);
    background-color: white;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-header .gx-chat-body-content-header-desktop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-sidebar .gx-chat-sidebar-body .ant-menu-item .gx-sidebar-item .gx-user-thumb{
    position: relative;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-avatar-default{
    background-color: #4c586d;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-avatar-default .ant-avatar-string{
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-sidebar .gx-chat-sidebar-body .ant-menu-item .gx-sidebar-item .gx-user-thumb .gx-employee-status{
    width: 12px;
    height: 12px;
    border: 3px solid #fbfbfd;
    border-radius: 50%;
    position: absolute;
    top: 18px;
    left: 22px;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-sidebar .gx-chat-sidebar-body .ant-menu-item .gx-sidebar-item .gx-user-thumb .gx-employee-status.gx-employee-status-active{
    background-color: #23c147;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-sidebar .gx-chat-sidebar-body .ant-menu-item .gx-sidebar-item .gx-user-thumb .gx-employee-status.gx-employee-status-away{
    background-color: #f7c43d;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-sidebar .gx-chat-sidebar-body .ant-menu-item .gx-sidebar-item .gx-user-thumb .gx-employee-status.gx-employee-status-offline{
    background-color: #a5abb5;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-employee-name{
    font-size: 13px;
    font-weight: 500;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-employee-name.gx-employee-name-active{
    color: #132144;  
} 
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-employee-name.gx-employee-name-away{
    color: #9399a2;  
} 
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-employee-name.gx-employee-name-offline{
    color: #9399a2;  
} 
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-sidebar-item:hover .gx-employee-name{
    color: #257cde;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-header .gx-chat-body-content-header-desktop .default-blank{
    width: 100px;
    height: 15px;
    border-radius: 10px;
    background-color: #f5f5f5;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-header .gx-chat-body-content-header-desktop .gx-employee-status-active{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #23c147;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-header .gx-chat-body-content-header-desktop .gx-employee-status-active+span{
    font-size: 12px;
    color: #4c586d;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-header .gx-chat-body-content-header-desktop .gx-employee-status-away{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #f7c43d;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-header .gx-chat-body-content-header-desktop .gx-employee-status-away+span{
    font-size: 12px;
    color: #9399a2;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-header .gx-chat-body-content-header-desktop .gx-employee-status-offline{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #a5abb5;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-header .gx-chat-body-content-header-desktop .gx-employee-status-offline+span{
    font-size: 12px;
    color: #9399a2;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body{
    display: flex;
    justify-content: space-between;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-main{
    width: -webkit-fill-available;
    width: 100%;
    background-color: #fcfbfb;
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar{
    width: 385px;
    min-width: 385px;
    height: calc(100vh - 94px);
    min-height: calc(100vh - 94px);
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.08);
    background-color: white;
    padding-top: 64px;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-header{
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-header .gx-profile-name{
    font-size: 16px;
    font-weight: 500;
    color: #132144;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-header .gx-profile-role{
    font-size: 12px;
    font-weight: 500;
    color: #4c586d;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-header .ant-btn-group{
    display: flex;
    box-shadow: 1px 1px 5px #dce0e9;
    width: fit-content;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-header .ant-btn{
    margin-bottom: 0px; 
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #a5abb5;
    border-radius: 2px;
    border: 0px;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-header .ant-btn:nth-child(2){
    border-right: 1px solid #e5e7ed;
    border-left: 1px solid #e5e7ed;
    z-index: 2;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-header .ant-btn:last-child{
    border-left: 1px solid #e5e7ed;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-header .ant-btn >i{
    font-size: 20px;
    color: #a5abb5;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-header .ant-btn:hover >i{
    color: #257cde;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-body .ant-tabs .ant-tabs-bar{
    box-shadow: 1px 1px 5px #dce0e9;
    border-top: 1px solid #e5e7ed;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-body .ant-tabs .ant-tabs-tab i{
    font-size: 20px;
    color: #a5abb5;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-body .ant-tabs .ant-tabs-tab.ant-tabs-tab-active i{
    font-size: 20px;
    color: #257cde;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-body .gx-tab-content{
    height: calc(100vh - 338px);
    min-height: calc(100vh - 338px);
    background-color: #fcfbfb;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-body .gx-employee-activity{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-body .gx-employee-activity .gx-employee-name{
    font-size: 13px;
    font-weight: 500;
    color: #132144;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-body .gx-employee-activity .gx-activity-details{
    font-size: 12px;
    font-weight: 400;
    color: #4c586d;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-body .gx-employee-activity .gx-activity-datetime{
    font-size: 12px;
    font-weight: 400;
    color: #9399a2;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-body .gx-employee-activity .gx-activity-datetime .dot i{
    font-size: 5px;
    margin: 0px 5px;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-body .gx-tab-content .gx-employee-job:hover .gx-job-who{
    color: #257cde;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-body .gx-tab-content .gx-employee-job .gx-card-widget{
    padding: 13px;
    border-radius: 4px;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-body .gx-tab-content .gx-employee-job .gx-card-widget .gx-avatar-default{
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #4c586d;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-body .gx-tab-content .gx-employee-job:hover .gx-card-widget .gx-avatar-default{
    background-color: #257cde;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-body .gx-tab-content .gx-employee-job .gx-card-widget .gx-avatar-default i{
    color: white;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-body .gx-tab-content .gx-customer-top-tab-scroll{
    padding-top: 0px;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-body .gx-tab-content .gx-customer-tab-content.gx-ss-newjob-note-content{
    padding: 20px 0px;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-body .gx-tab-content .gx-customer-top-tab-scroll{
    height: calc(100vh - 418px)!important;
    min-height: calc(100vh - 418px)!important;
    overflow-y: scroll;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-body .gx-tab-content .gx-ss-newjob-note-input{
    position: relative;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-body .gx-tab-content .gx-customer-tab-input{
    padding: 5px 10px 25px;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-body .gx-tab-content .gx-btn-note-submit{
    display: none;
    align-items: center;
    font-weight: bold;
    justify-content: flex-end;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-body .gx-tab-content .gx-btn-note-submit.gx-btn-note-submit-active{
    display: flex;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-body .gx-tabs-blank .gx-tabs-header-blank{
    height: 60px;
    box-shadow: 0 4px 4px -2px #dce0e9;
    padding: 0px 20px;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-body .gx-tabs-blank .gx-tabs-header-blank >.gx-tab-blank{
    width: 70px;
    height: 12px;
    border-radius: 10px;
    background-color: #f5f5f5;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-body .gx-tabs-blank .gx-tabs-body-blank .gx-tabs-tab-detail-blank{
    background-color: #f5f5f5;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-body .gx-tabs-blank .gx-tabs-body-blank .gx-tabs-tab-detail-blank.gx-tabs-tab-detail-datetime{
    width: 90px;
    height: 6px;
    border-radius: 10px;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-body .gx-tabs-blank .gx-tabs-body-blank .gx-tabs-tab-detail-blank.gx-tabs-tab-detail-name{
    width: 90px;
    height: 12px;
    border-radius: 10px;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-body .gx-tabs-blank .gx-tabs-body-blank .gx-tabs-tab-detail-blank.gx-tabs-tab-detail-role{
    width: 180px;
    height: 6px;
    border-radius: 10px;
    margin-top: 10px;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-header .default-blank{
    background-color: #f5f5f5;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-header .gx-profile-name.default-blank{
    width: 125px;
    height: 16px;
    border-radius: 10px;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-header .gx-profile-role.default-blank{
    width: 125px;
    height: 12px;
    border-radius: 10px;
    margin-top: 5px;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-header .btn-group.default-blank{
    width: 125px;
    height: 35px;
    border-radius: 2px;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-main .gx-msg-body-content{
    height: calc(100vh - 222px);
    min-height: calc(100vh - 222px);
    overflow-y: scroll;
    padding-bottom: 0px!important;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-main .gx-message-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 64px;
    background-color: white;
    box-shadow: 1px 1px 5px #dce0e9;    
    padding: 0px 30px;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-main .gx-message-input .gx-message-actions{
    display: flex;
    align-items: center;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-main .gx-message-input .gx-message-actions >span{
    display: flex;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-main .gx-message-input .gx-message-actions >span .ant-upload-list{
    display: none;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-main .gx-message-input .gx-message-actions .ant-upload{
    border: 0px;
    height: 24px;
    padding: 0;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-main .gx-message-input .gx-message-actions i{
    cursor: pointer;
    color: #a5abb5;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-main .gx-message-input .gx-message-actions i.showEmojiPicker{
    color: #257cde;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-main .gx-message-input .gx-message-actions i:hover{
    color: #257cde;
}

.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-main .gx-message-input .gx-message-actions .gx-emojiPicker{
    position: absolute;
    bottom: 60px;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-main .gx-message-input .gx-message-actions .gx-emojiPicker .emoji-mart-preview{
    height: 40px;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-main .gx-message-input .gx-message-actions .gx-emojiPicker .emoji-mart-preview .emoji-mart-preview-emoji{
    display: none;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-main .gx-message-input .gx-message-actions .gx-emojiPicker .emoji-mart-preview .emoji-mart-preview-data{
    left: 20px;
    right: 20px;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-main .gx-message-input .gx-message-actions .gx-emojiPicker .emoji-mart-preview .emoji-mart-preview-data .emoji-mart-title-label{
    font-size: 14px;
    font-weight: 500;
    color: #9399a2;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-main .gx-message-input .gx-message-actions .gx-emojiPicker .emoji-mart-preview .emoji-mart-preview-data .emoji-mart-preview-name{
    display: none;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-main .gx-message-input .gx-btn-msg-send{
    width: 90px;
    font-size: 13px;
    color: #9399a2;
    font-weight: 500;
    background-color: #e9e9e9;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    border-radius: 2px;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-main .gx-message-input .gx-btn-msg-send:hover{
    background-color: #257cde;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-main .gx-message-input .gx-btn-msg-send:hover span{
    color: white;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-main .gx-message-input .gx-btn-msg-send:hover i{
    color: white;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-main .gx-message-input .gx-msg-text{
    border: 0;
    font-size: 12px;
    font-weight: 500;
    margin: 0px 10px;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-main .gx-attached-files{
    position: absolute;
    bottom: 60px;
    width: calc(100vw - 695px);
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-main .gx-attached-files .gx-file-item{
    background-color: #e9e9e9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    height: 30px;
    color: #9399a2;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-main .gx-attached-files .gx-file-item .gx-file-name{
    color: #4c586d;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-body .gx-tab-content .ant-card{
    margin-bottom: 0px;
    box-shadow: 0 0 6px #dde0e5;
    padding: 15px;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-body .gx-tab-content .gx-job-who{
    font-size: 13px;
    color: #132144;
    font-weight: 500;
    margin-right: 5px;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-body .gx-tab-content .gx-job-badge{
    background-color: #257cde;
    font-size: 10px;
    font-weight: 500;
    color: white;
    border-radius: 10px;
    padding: 2px 7px;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-body .gx-tab-content .gx-job-role{
    font-size: 11px;
    color: #9399a2;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-body .gx-tab-content .gx-job-datetime{
    font-size: 11px;
    color: #9399a2;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-right-sidebar .gx-chat-body-content-right-sidebar-body .gx-tab-content .gx-activity-list-note{
    border-radius: 0px 10px 10px 10px!important;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-main .gx-msg-body-content >.gx-msg-content{
    margin-bottom: 20px;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-main .gx-msg-body-content >.gx-msg-content .gx-msg-sent .gx-msg-time{
    color: #9399a2;
    font-size: 12px;
    font-weight: 400;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-main .gx-msg-body-content >.gx-msg-content .gx-msg-sent .gx-msg-content{
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    background-color: #257cde;
    padding: 15px 20px;
    border-radius: 0px 10px 10px 10px;
    margin-top: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.05);
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-main .gx-msg-body-content >.gx-msg-content .gx-msg-received{
    justify-content: flex-end;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-main .gx-msg-body-content >.gx-msg-content .gx-msg-received .gx-msg-time{
    text-align: right;
    font-size: 12px;
    font-weight: 400;
    color: #9399a2;
}
.gx-chat-panel-content .gx-chat-widget .gx-chat-content .gx-chat-body .gx-chat-body-content-body .gx-chat-body-content-main .gx-msg-body-content >.gx-msg-content .gx-msg-received .gx-msg-content{
    color: #4c586d;
    font-size: 13px;
    font-weight: 400;
    background-color: #ffffff;
    padding: 15px 20px;
    border-radius: 10px 0px 10px 10px;
    margin-top: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.08);
}
@media screen and (min-width: 768px){
    .gx-chat-widget{
        display: block;
    }
    .gx-chat-widget-mobile{
        display: none;
    }
}
@media screen and (max-width: 768px){
    .gx-chat-widget{
        display: none;
    }
    .gx-chat-widget-mobile{
        display: block;
        height: calc(100vh - 94px);
        overflow-y: hidden;
        border-radius: 6px 6px 0px 0px!important;
    }
    .gx-chat-employees-widget-mobile .gx-card-employees-header{
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.14);
        height: 60px;
        width: 100%;
        position: absolute;
        z-index: 10;
    }
    .gx-chat-employees-widget-mobile .gx-card-employees-header >span >span{
        font-size: 16px;
        font-weight: 500;
        color: #132144;
    }
    .gx-chat-employees-widget-mobile .gx-card-employees-header .gx-employee-search{
        font-size: 20px;
        color: #a5abb5;
        cursor: pointer;
    }
    .gx-chat-employees-widget-mobile .gx-card-employees-body{
        margin-top: 60px;
        height: calc(100vh - 154px);
        overflow-y: scroll;
    }
    .gx-chat-employees-widget-mobile .gx-card-employees-body::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* make scrollbar transparent */
    }
    .gx-chat-employees-widget-mobile .gx-card-employees-body .ant-menu-item{
        display: flex;
        align-items: center;
        padding: 15px 20px!important;
        height: 60px;
        border-bottom: 1px solid #e5e7ed;
    }
    .gx-chat-employees-widget-mobile .gx-card-employees-body .ant-menu-item .gx-sidebar-item{
        display: flex;
        align-items: center;
        width: 100%;
    }
    .gx-chat-employees-widget-mobile .gx-card-employees-body .ant-menu-item .gx-sidebar-item .gx-employee-name{
        font-size: 13px;
        font-weight: 500;
        color: #132144;
        line-height: 20px;
    }
    .gx-chat-employees-widget-mobile .gx-card-employees-body .ant-menu-item .gx-sidebar-item .gx-employee-message{
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
        color: #9399a2;
        /* width: calc(100vw - 140px);
        overflow: hidden;
        height: 20px;
        white-space: normal; */
    }
    .gx-chat-employees-widget-mobile .gx-card-employees-body .ant-menu-item .gx-sidebar-item:hover .gx-employee-message{
        color: #4c586d;
    }
    .gx-chat-employees-widget-mobile .gx-card-employees-body .ant-menu-item .gx-sidebar-item .gx-employee-time{
        font-size: 12px;
        font-weight: 400;
        color: #a5abb5;
        line-height: 20px;
    }
    .gx-chat-employees-widget-mobile .gx-card-employees-body .ant-menu-item .gx-sidebar-item .gx-employee-status{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 2px solid white;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .gx-chat-employees-widget-mobile .gx-card-employees-body .ant-menu-item .gx-sidebar-item .gx-employee-status.gx-employee-status-active{
        background-color: #23c147;
    }
    .gx-chat-employees-widget-mobile .gx-card-employees-body .ant-menu-item .gx-sidebar-item .gx-employee-status.gx-employee-status-away{
        background-color: #f7c43d;
    }
    .gx-chat-employees-widget-mobile .gx-card-employees-body .ant-menu-item .gx-sidebar-item .gx-employee-status.gx-employee-status-offline{
        background-color: #ababb5;
    }
    .gx-chat-employees-widget-mobile .gx-card-employees-body .ant-menu-item .gx-sidebar-item .ant-badge-count{
        width: 20px;
        height: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-weight: 500;
        border-radius: 3px!important;
    }
    .gx-chat-content-widget-mobile .gx-card-content-header{
        height: 60px;
        width: 100%;
        position: absolute;
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.14);
        background-color: white;
    }
    .gx-chat-content-widget-mobile .gx-card-content-header .gx-btn-back >span{
        font-size: 16px;
        font-weight: 500;
    }
    .gx-chat-content-widget-mobile .gx-card-content-header .gx-employee-name{
        font-size: 13px;
        font-weight: 500;
        color: #132144;
    }
    .gx-chat-content-widget-mobile .gx-card-content-header .gx-employee-status{
        width: 10px;
        height: 10px;
        border-radius: 50%;   
    }
    .gx-chat-content-widget-mobile .gx-card-content-header .gx-employee-status-active{
        background-color: #23c147;
    }
    .gx-chat-content-widget-mobile .gx-card-content-header .gx-employee-status-away{
        background-color: #f7c43d;
    }
    .gx-chat-content-widget-mobile .gx-card-content-header .gx-employee-status-offline{
        background-color: #a5abb5;
    }
    .gx-chat-content-widget-mobile .gx-card-content-body{
        display: flex;
    }
    .gx-chat-content-widget-mobile .gx-card-content-body .gx-message-input{
        height: 60px;
        box-shadow: 1px -1px 5px #dce0e9;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        z-index: 10;
    }
    .gx-chat-content-widget-mobile .gx-card-content-body .gx-message-input .gx-message-actions{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .gx-chat-content-widget-mobile .gx-card-content-body .gx-message-input .gx-message-actions .ant-upload{
        border: 0px;
        height: 24px;
        padding: 0;
    }
    .gx-chat-content-widget-mobile .gx-card-content-body .gx-message-input .gx-message-actions i{
        cursor: pointer;
        color: #a5abb5;
    }
    .gx-chat-content-widget-mobile .gx-card-content-body .gx-message-input .gx-message-actions i.showEmojiPicker{
        color: #257cde;
    }
    .gx-chat-content-widget-mobile .gx-card-content-body .gx-message-input .gx-message-actions i:hover{
        color: #257cde;
    }
    
    .gx-chat-content-widget-mobile .gx-card-content-body .gx-message-input .gx-message-actions .gx-emojiPicker{
        position: absolute;
        bottom: 60px;
    }
    .gx-chat-content-widget-mobile .gx-card-content-body .gx-message-input .gx-message-actions .gx-emojiPicker .emoji-mart{
        max-width: calc(100vw - 100px)
    }
    .gx-chat-content-widget-mobile .gx-card-content-body .gx-message-input .gx-message-actions .gx-emojiPicker .emoji-mart-preview{
        height: 40px;
    }
    .gx-chat-content-widget-mobile .gx-card-content-body .gx-message-input .gx-message-actions .gx-emojiPicker .emoji-mart-preview .emoji-mart-preview-emoji{
        display: none;
    }
    .gx-chat-content-widget-mobile .gx-card-content-body .gx-message-input .gx-message-actions .gx-emojiPicker .emoji-mart-preview .emoji-mart-preview-data{
        left: 20px;
        right: 20px;
    }
    .gx-chat-content-widget-mobile .gx-card-content-body .gx-message-input .gx-message-actions .gx-emojiPicker .emoji-mart-preview .emoji-mart-preview-data .emoji-mart-title-label{
        font-size: 14px;
        font-weight: 500;
        color: #9399a2;
    }
    .gx-chat-content-widget-mobile .gx-card-content-body .gx-message-input .gx-message-actions .gx-emojiPicker .emoji-mart-preview .emoji-mart-preview-data .emoji-mart-preview-name{
        display: none;
    }
    .gx-chat-content-widget-mobile .gx-card-content-body .gx-message-input .gx-msg-text{
        border: 0;
        font-size: 12px;
        font-weight: 500;
        margin: 0px 10px;
    }
    .gx-chat-content-widget-mobile .gx-card-content-body .gx-message-input .gx-btn-msg-send:active{
        color: #257cde;
    }
    .gx-chat-content-widget-mobile .gx-card-content-body .gx-messages-content{
        height: calc(100vh - 154px);
        padding-top: 60px;
        overflow-y: scroll;
    }
    .gx-chat-content-widget-mobile .gx-card-content-body .gx-messages-content >.gx-messages >.gx-msg-content{
        margin-bottom: 15px;
    }
    .gx-chat-content-widget-mobile .gx-card-content-body .gx-messages-content::-webkit-scrollbar{
        width: 0;
        background: transparent;
    }
    .gx-chat-content-widget-mobile .gx-card-content-body .gx-messages-content .gx-msg-sent{
        display: flex;
        flex-direction: row;
    }
    .gx-chat-content-widget-mobile .gx-card-content-body .gx-messages-content .gx-msg-sent .ant-avatar{
        min-width: 30px;
    }
    .gx-chat-content-widget-mobile .gx-card-content-body .gx-messages-content .gx-msg-sent .gx-msg-time{
        font-size: 12px;
        color: #9399a2;
    }
    .gx-chat-content-widget-mobile .gx-card-content-body .gx-messages-content .gx-msg-sent .gx-msg{
        color: #ffffff;
        font-size: 13px;
        font-weight: 400;
        background-color: #257cde;
        padding: 15px 20px;
        border-radius: 0px 20px 20px 20px;
        margin-top: 10px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.05);
    }
    .gx-chat-content-widget-mobile .gx-card-content-body .gx-messages-content .gx-msg-received{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .gx-chat-content-widget-mobile .gx-card-content-body .gx-messages-content .gx-msg-received .gx-msg-time{
        text-align: right;
        font-size: 12px;
        color: #9399a2;
    }
    .gx-chat-content-widget-mobile .gx-card-content-body .gx-messages-content .gx-msg-received .gx-msg{
        color: #4c586d;
        font-size: 13px;
        font-weight: 400;
        background-color: white;
        padding: 15px 20px;
        border-radius: 20px 0px 20px 20px;
        margin-top: 10px;
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.08);
    }
}