/* start variables */
.gx-custom-flex-row{
    display: flex!important;
    flex-direction: row;
}
.gx-custom-flex-column{
    display: flex!important;
    flex-direction: column;
}
.gx-custom-flex-justify-content-space-between{
    justify-content: space-between;
}
.gx-custom-flex-justify-content-center{
    justify-content: center;
}
.gx-custom-flex-align-items-center{
    align-items: center;
}
.gx-custom-m-5{
    margin: 5px!important;
}
.gx-custom-m-10{
    margin: 10px!important;
}
.gx-custom-m-20{
    margin: 10px!important;
}
.gx-custom-m-30{
    margin: 10px!important;
}
.gx-custom-mx-5{
    margin: auto 5px!important;
}
.gx-custom-my-5{
    margin: 5px auto!important;
}
.gx-custom-mx-10{
    margin: auto 10px!important;
}
.gx-custom-my-10{
    margin: 10px auto!important;
}
.gx-custom-mx-20{
    margin: auto 20px!important;
}
.gx-custom-my-20{
    margin: 20px auto!important;
}
.gx-custom-mx-30{
    margin: auto 30px!important;
}
.gx-custom-my-30{
    margin: 30px auto!important;
}
.gx-custom-text-align-center{
    text-align: center;
}
.gx-custom-text-align-left{
    text-align: left;
}
.gx-custom-text-align-right{
    text-align: right;
}
.gx-custom-fs-12{
    font-size: 12px;
}
.gx-custom-fs-13{
    font-size: 13px;
}
.gx-custom-fs-14{
    font-size: 14px;
}
.gx-custom-fs-15{
    font-size: 15px;
}
.gx-custom-fs-16{
    font-size: 16px;
}
.gx-custom-fw-400{
    font-weight: 400;
}
.gx-custom-fw-500{
    font-weight: 500;
}
.gx-custom-fw-600{
    font-weight: 600;
}
.gx-icon-action{
    cursor: pointer;
    color: #ababb5;
}
.gx-icon-action:hover{
    color: #257cde;
}

/* end variables */
.gx-search-bar.gx-estimate-search-bar{
    width: 313px;
}
.gx-search-bar.gx-estimate-search-bar .ant-input[type="search"]{
    background-color: #e6e6e6;
    height: 34px;
    padding: 5px 18px 5px 38px;
    border-radius: 2px;
    font-size: 13px;
    font-weight: 400;
    color: #4c586d;
    margin: 0px;
}
.gx-app-module.gx-sales-module{
    padding-top: 45px;
}
.gx-panel-content.gx-ss-sales-estimate{
    padding-bottom: 0px;
    height: calc(100vh - 165px);
}
.gx-panel-content.gx-ss-sales-estimate .ant-card-body >.card-body{
    height: calc(100vh - 249px);
    overflow-y: scroll;
}
.gx-sales-module-content {
    padding: 0px 20px;
}
.gx-sales-module-content {
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 1 1 auto;
    max-width: 100%;
    position: relative;
    z-index: 2;
}
.gx-sales-module-scroll{
    overflow: hidden;
    height: unset;
}
.gx-panel-estimate-content .gx-card-estimates{
    border: 0px;
    margin-bottom: 0px;
    height: calc(100vh - 165px);
    box-shadow: unset;
}
.gx-panel-estimate-content .gx-card-estimates >.ant-card-body{
    height: 100%;
}
.gx-panel-estimate-content .gx-card-estimates >.ant-card-body >.card-body{
    background-color: #e6e6e6;
}
.gx-panel-estimate-content .gx-card-estimates.gx-card-estimates-new-estimates{
    border-radius: 8px 0px 0px 0px;
}
.gx-panel-estimate-content .gx-card-estimates.gx-card-estimates-new-estimates{
    z-index: 5;
}
.gx-panel-estimate-content .gx-card-estimates.gx-card-estimates-new-estimates >.ant-card-body >.card-body{
    margin-right: 5px;
    padding: 20px 10px;
}
.gx-panel-estimate-content .gx-card-estimates.gx-card-estimates-scheduled{
    border-radius: 0px;
}
.gx-panel-estimate-content .gx-card-estimates.gx-card-estimates-scheduled{
    z-index: 4;
}
.gx-panel-estimate-content .gx-card-estimates.gx-card-estimates-scheduled >.ant-card-body >.card-body{
    margin-right: 5px;
    margin-left: 5px;
    padding: 20px 10px;
}
.gx-panel-estimate-content .gx-card-estimates.gx-card-estimates-under-review{
    border-radius: 0px;
}
.gx-panel-estimate-content .gx-card-estimates.gx-card-estimates-under-review{
    z-index: 3;
}
.gx-panel-estimate-content .gx-card-estimates.gx-card-estimates-under-review >.ant-card-body >.card-body{
    margin-right: 5px;
    margin-left: 5px;
    padding: 20px 10px;
}
.gx-panel-estimate-content .gx-card-estimates.gx-card-estimates-accepted-estimates{
    border-radius: 0px 8px 0px 0px;
}
.gx-panel-estimate-content .gx-card-estimates.gx-card-estimates-accepted-estimates{
    z-index: 2;
}
.gx-panel-estimate-content .gx-card-estimates.gx-card-estimates-accepted-estimates >.ant-card-body >.card-body{
    margin-left: 5px;
    padding: 20px 10px;
}
.gx-panel-estimate-content .gx-card-estimates .ant-card-body{
    padding: 0px;
}
.gx-panel-estimate-content .gx-card-estimates .card-header{
    height: 84px;
    display: flex;
    align-items: center;
    padding: 0px 15px;
    box-shadow: 0px 1px 5px #dce0e9;
}
.gx-panel-estimate-content .gx-card-estimates.gx-card-estimates-new-estimates .card-header{
    padding: 0px 10px;
}
.gx-panel-estimate-content .gx-card-estimates .card-header .card-header-mark{
    margin-right: 15px;
    width: 4px;
    height: 33px;
    border-radius: 2px;
}
.gx-panel-estimate-content .gx-card-estimates .card-header .card-header-mark.card-header-mark-new-estimates{
    background-color: #08bdc5;
}
.gx-panel-estimate-content .gx-card-estimates .card-header .card-header-mark.card-header-mark-scheduled{
    background-color: #257cde;
}
.gx-panel-estimate-content .gx-card-estimates .card-header .card-header-mark.card-header-mark-under-review{
    background-color: #f7c43d;
}
.gx-panel-estimate-content .gx-card-estimates .card-header .card-header-mark.card-header-mark-accepted-estimates{
    background-color: #39bf58;
}
.gx-panel-estimate-content .gx-card-estimates .card-header .card-title{
    font-size: 16px;
    color: #1a2f52;
    font-weight: 500;
}
.gx-panel-estimate-content .gx-card-estimates .card-header .card-total-value span{
    font-size: 13px;
    font-weight: 500;
    color: #9399a2;
}
span.dot i{
    font-size: 5px;
    margin: 0px 10px;
}
.gx-panel-estimate-content .gx-card-estimates .gx-child-card-estimates{
    box-shadow: unset;
    border-radius: 4px;
    box-shadow: 1px 5px 6px #dde0e5;
}
.gx-panel-estimate-content .gx-card-estimates .gx-child-card-estimates.gx-child-card-estimates-new-estimates{
    border-left: 4px solid #08bdc5;
    margin-bottom: 20px;
}
.gx-panel-estimate-content .gx-card-estimates .gx-child-card-estimates.gx-child-card-estimates-new-estimates:last-child{
    margin-bottom: 0px;
}
.gx-panel-estimate-content .gx-card-estimates .gx-child-card-estimates.gx-child-card-estimates-scheduled{
    border-left: 4px solid #257cde;
    margin-bottom: 20px;
}
.gx-panel-estimate-content .gx-card-estimates .gx-child-card-estimates.gx-child-card-estimates-scheduled:last-child{
    margin-bottom: 0px;
}
.gx-panel-estimate-content .gx-card-estimates .gx-child-card-estimates.gx-child-card-estimates-under-review{
    border-left: 4px solid #f7c43d;
    margin-bottom: 20px;
}
.gx-panel-estimate-content .gx-card-estimates .gx-child-card-estimates.gx-child-card-estimates-under-review:last-child{
    margin-bottom: 0px;
}
.gx-panel-estimate-content .gx-card-estimates .gx-child-card-estimates.gx-child-card-estimates-accepted-estimates{
    border-left: 4px solid #39bf58;
    margin-bottom: 20px;
}
.gx-panel-estimate-content .gx-card-estimates .gx-child-card-estimates.gx-child-card-estimates-accepted-estimates:last-child{
    margin-bottom: 0px;
}
.gx-panel-estimate-content .gx-card-estimates .gx-child-card-estimates .user-details{
    padding: 15px 5px 15px 20px;
}
.gx-panel-estimate-content .gx-card-estimates .gx-child-card-estimates .user-details .user-details-top{
    display: flex;
    justify-content: space-between;
}
.gx-panel-estimate-content .gx-card-estimates .gx-child-card-estimates .user-details .user-details-top .user-avatar{
    display: flex;
    align-items: center;
}
.gx-panel-estimate-content .gx-card-estimates .gx-child-card-estimates .user-details .user-details-top .user-avatar >i{
    margin-right: 10px;
    font-size: 30px;
}
.gx-panel-estimate-content .gx-card-estimates .gx-child-card-estimates .user-details .user-details-top .user-avatar .user-avatar-name{
    font-size: 13px;
    font-weight: 500;
    color: #132144;
}
.gx-panel-estimate-content .gx-card-estimates .gx-child-card-estimates .user-details .user-details-top .user-avatar .user-avatar-name:hover{
    color: #257cde;
}
.gx-panel-estimate-content .gx-card-estimates .gx-child-card-estimates .user-details .user-details-top .user-avatar .user-estimate-details{
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
  color: #9399a2;
}
.gx-panel-estimate-content .gx-card-estimates .gx-child-card-estimates .user-details .user-details-top .btn-user-more{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0px;
    background-color: white;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gx-panel-estimate-content .gx-card-estimates .gx-child-card-estimates .user-details .user-details-top .btn-user-more:hover i{
    color: #257cde;
}
.gx-panel-estimate-content .gx-card-estimates .gx-child-card-estimates .user-details .user-details-top .btn-user-more i{
    color: #ababb5;
}
.gx-panel-estimate-content .gx-card-estimates .gx-child-card-estimates .user-details .user-details-body{
    padding-left: 40px;
}
.gx-panel-estimate-content .gx-card-estimates .gx-child-card-estimates .user-details .user-details-body .user-details-child{
    display: flex;
    align-items: center;
}
.gx-panel-estimate-content .gx-card-estimates .gx-child-card-estimates .user-details .user-details-body .user-details-child .user-details-child-item-title{
    font-size: 12px;
    font-weight: 400;
    color: #9399a2;
    width: 80px;
}
.gx-panel-estimate-content .gx-card-estimates .gx-child-card-estimates .user-details .user-details-body .user-details-child .user-details-child-item-value{
    font-size: 12px;
    font-weight: 500;
    color: #4c586d;
}
.gx-panel-estimate-content .gx-card-estimates .gx-child-card-estimates .child-card-footer{
    display: flex;
}
.gx-panel-estimate-content .gx-card-estimates .gx-child-card-estimates.gx-child-card-estimates-new-estimates .child-card-footer{
    border-top: 1px solid #abe1e3;
}
.gx-panel-estimate-content .gx-card-estimates .gx-child-card-estimates.gx-child-card-estimates-scheduled .child-card-footer{
    border-top: 1px solid #b5cfec;
}
.gx-panel-estimate-content .gx-card-estimates .gx-child-card-estimates.gx-child-card-estimates-under-review .child-card-footer{
    border-top: 1px solid #ead59d;
}
.gx-panel-estimate-content .gx-card-estimates .gx-child-card-estimates.gx-child-card-estimates-accepted-estimates .child-card-footer{
    border-top: 1px solid #b4d8dc;
}
.gx-panel-estimate-content .gx-card-estimates .gx-child-card-estimates .child-card-footer .action{
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0px 15px;
}
.gx-panel-estimate-content .gx-card-estimates .gx-child-card-estimates.gx-child-card-estimates-new-estimates .child-card-footer .action.action-start-estimate{
    width: 50%;
    color: #08bdc5;
    background-color: #e6faff;
    cursor: pointer;
}
.gx-panel-estimate-content .gx-card-estimates .gx-child-card-estimates.gx-child-card-estimates-new-estimates .child-card-footer .action.action-schedule-estimate{
    width: 50%;
    color: #08bdc5;
    background-color: #e6faff;
    border-left: 1px solid #abe1e3;
    cursor: pointer;
    border-radius: 0px 0px 4px 0px;
}
.gx-panel-estimate-content .gx-card-estimates .gx-child-card-estimates.gx-child-card-estimates-scheduled .child-card-footer .action.action-home{
    width: 60px;
    color: #257cde;
    background-color: #deecfb;
    cursor: pointer;
    justify-content: center;
}
.gx-panel-estimate-content .gx-card-estimates .gx-child-card-estimates.gx-child-card-estimates-scheduled .child-card-footer .action.action-start-estimate{
    width: calc(100vw - 60px);
    color: #257cde;
    background-color: #deecfb;
    border-left: 1px solid #b5cfec;
    cursor: pointer;
    border-radius: 0px 0px 4px 0px;
}
.gx-panel-estimate-content .gx-card-estimates .gx-child-card-estimates.gx-child-card-estimates-under-review .child-card-footer .action.action-eye{
    width: 60px;
    color: #e0a712;
    background-color: #f8f0dc;
    cursor: pointer;
    justify-content: center;
}
.gx-panel-estimate-content .gx-card-estimates .gx-child-card-estimates.gx-child-card-estimates-under-review .child-card-footer .action-group{
    width: calc(100vw - 60px);
}
.gx-panel-estimate-content .gx-card-estimates .gx-child-card-estimates.gx-child-card-estimates-under-review .child-card-footer .action.action-accepted{
    width: 100%;
    color: #e0a712;
    background-color: #f8f0dc;
    border-left: 1px solid #ead59d;
    cursor: pointer;
}
.gx-panel-estimate-content .gx-card-estimates .gx-child-card-estimates.gx-child-card-estimates-under-review .child-card-footer .action.action-refused{
    width: 100%;
    color: #e0a712;
    background-color: #f8f0dc;
    border-left: 1px solid #ead59d;
    cursor: pointer;
}
.gx-panel-estimate-content .gx-card-estimates .gx-child-card-estimates.gx-child-card-estimates-under-review .child-card-footer .action.action-resend{
    width: 100%;
    color: #e0a712;
    background-color: #f8f0dc;
    border-left: 1px solid #ead59d;
    border-radius: 0px 0px 4px 0px;
    cursor: pointer;
}
.gx-panel-estimate-content .gx-card-estimates .gx-child-card-estimates.gx-child-card-estimates-accepted-estimates .child-card-footer .action.action-convert{
    width: 100%;
    color: #39bf58;
    background-color: #e4f8e9;
    border-radius: 0px 0px 4px 0px;
    cursor: pointer;
}
.gx-sales-estimate-mobile-toolbar-btngroup{
    display: flex;
    align-items: center;
}
.gx-sales-estimate-mobile-toolbar-btngroup .gx-sales-estimate-mobile-toolbar-search{
    width: 100%;
}
.gx-sales-estimate-mobile-toolbar-btngroup .gx-nav-sales-estimate-new-btn{
    width: 50%;
}
.gx-refused-estimates-table tbody tr:hover{
    background-color: #ffeded!important;
}
/*Services*/
.gx-app-module.gx-services-module {
    padding-top: 45px;
}
.gx-services-panel-content{
    padding: 30px 30px 0px 30px;
}
.gx-services-panel-content .gx-services-widget .gx-services-content{
    display: flex;
}
.gx-services-panel-content .gx-services-widget .gx-services-content .gx-services-sidebar{
    width: 250px;
    min-width: 250px;
    box-shadow: 1px 1px 5px #dce0e9;
    height: calc(100vh - 139px);
    position: relative;
}
.gx-services-panel-content .gx-services-widget .gx-services-content .gx-services-sidebar .gx-services-sidebar-header{
    height: 64px;
    box-shadow: 0px 1px 5px #dce0e9;
    position: absolute;
    width: 100%;
    z-index: 10;
}
.gx-services-panel-content .gx-services-widget .gx-services-content .gx-services-sidebar .gx-services-sidebar-header .gx-btn-new-category{
    width: 150px;
    box-shadow: 1px 1px 5px #dce0e9;
    background-color: #ffffff!important;
    border: 0px;
    color: 13px!important;
    font-weight: 500;
    color: #a5abb5!important;
}
.gx-services-panel-content .gx-services-widget .gx-services-content .gx-services-sidebar .gx-services-sidebar-header .gx-btn-new-category:hover{
  background-color: #257cde!important;
  color: white!important;
}
.gx-services-panel-content .gx-services-widget .gx-services-content .gx-services-sidebar .gx-services-sidebar-header .gx-btn-edit-category{
    width: 40px;
    border: 0px;
    box-shadow: 1px 1px 5px #dce0e9;
    color: #a5abb5;
}
.gx-services-panel-content .gx-services-widget .gx-services-content .gx-services-sidebar .gx-services-sidebar-header .gx-btn-edit-category.gx-category-editable{
    color: #257cde;
}
.gx-services-panel-content .gx-services-widget .gx-services-content .gx-services-sidebar .gx-services-sidebar-header .gx-btn-edit-category:hover{
    color: #257cde;
}
.gx-services-panel-content .gx-services-widget .gx-services-content .gx-services-sidebar .gx-services-sidebar-body{
    padding-top: 64px;
}
.gx-services-panel-content .gx-services-widget .gx-services-content .gx-services-sidebar .gx-services-sidebar-body .ant-menu{
    border: 0px;
}
.gx-services-panel-content .gx-services-widget .gx-services-content .gx-services-sidebar .gx-services-sidebar-body .ant-menu-item{
    padding: 0px 20px!important;
}
.gx-services-panel-content .gx-services-widget .gx-services-content .gx-services-sidebar .gx-services-sidebar-body .ant-menu-item.ant-menu-item-selected{
    background-color: #f5f5f5!important;
}
.gx-services-panel-content .gx-services-widget .gx-services-content .gx-services-sidebar .gx-services-sidebar-body .ant-menu-item.ant-menu-item-selected .gx-category-name{
    color: #257cde;
}
.gx-services-panel-content .gx-services-widget .gx-services-content .gx-services-sidebar .gx-services-sidebar-body .ant-menu-item.ant-menu-item-selected .gx-category-count{
    color: #257cde;
}
.gx-services-panel-content .gx-services-widget .gx-services-content .gx-services-sidebar .gx-services-sidebar-body .ant-menu-item .gx-sidebar-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gx-services-panel-content .gx-services-widget .gx-services-content .gx-services-sidebar .gx-services-sidebar-body .ant-menu-item .gx-category-name{
    font-size: 13px;
    font-weight: 500;
    color: #9399a2;
}
.gx-services-panel-content .gx-services-widget .gx-services-content .gx-services-sidebar .gx-services-sidebar-body .ant-menu-item .gx-category-count{
    color: #9399a2;
    font-size: 14px;
    font-weight: 500;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gx-services-panel-content .gx-services-widget .gx-services-content .gx-services-sidebar .gx-services-sidebar-body .ant-menu-item .gx-category-action{
    color: #9399a2;
    font-size: 14px;
    font-weight: 500;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gx-services-panel-content .gx-services-widget .gx-services-content .gx-services-sidebar .gx-services-sidebar-body .ant-menu-item:hover .gx-category-name{
    color: #257cde;
    width: 150px;
    overflow-x: hidden;
}
.gx-services-panel-content .gx-services-widget .gx-services-content .gx-services-sidebar .gx-services-sidebar-body .ant-menu-item:hover .gx-category-count{
    color: #257cde;
}

.gx-services-panel-content .gx-services-widget .gx-services-content .gx-services-sidebar .gx-services-sidebar-body .gx-services-sidebar-body-scroll{
  height: calc(100vh - 203px);
  overflow-y: scroll;
  overflow-x: hidden;
}
.gx-services-panel-content .gx-services-widget .gx-services-content .gx-services-sidebar .gx-services-sidebar-body .gx-services-sidebar-body-scroll::-webkit-scrollbar{
  margin-right: -20px;
}
.gx-services-panel-content .gx-services-widget .gx-services-content .gx-services-body{
  overflow-y: hidden;
}
.gx-services-panel-content .gx-services-widget .gx-services-content .gx-services-body .gx-service-body-content-header{
    padding: 0px 30px;
    box-shadow: 4px 1px 10px rgba(0, 0, 0, 0.14);
}
.gx-services-panel-content .gx-services-widget .gx-services-content .gx-services-body .gx-service-body-content-header .gx-service-body-content-header-desktop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
}
.gx-services-panel-content .gx-services-widget .gx-services-content .gx-services-body .gx-service-body-content-body{
  height: calc(100vh - 203px);
  overflow-y: scroll;
  padding: 30px;
}
.gx-services-panel-content .gx-services-widget .gx-services-content .gx-services-body .gx-service-body-content-body .gx-service-card{
    min-height: 350px;
    height: auto;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.12);
    position: relative;
}
.gx-services-panel-content .gx-services-widget .gx-services-content .gx-services-body .gx-service-body-content-body .gx-service-card .gx-service-card-header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0px 20px;
    font-size: 14px;
    font-weight: 500;
    color: #132144;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.14);
    position: absolute;
}
.gx-services-panel-content .gx-services-widget .gx-services-content .gx-services-body .gx-service-body-content-body .gx-service-card .gx-service-card-image{
    height: 150px;
    background-color: #fbbbbb;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gx-services-panel-content .gx-services-widget .gx-services-content .gx-services-body .gx-service-body-content-body .gx-service-card .gx-service-card-image.gx-material-card-image{
    background-color: #f5f5f5;
}
.gx-services-panel-content .gx-services-widget .gx-services-content .gx-services-body .gx-service-body-content-body .gx-service-card .gx-service-card-name{
  font-size: 14px;
  font-weight: 500;
  color: #132144;
  margin-bottom: 10px;
}
.gx-services-panel-content .gx-services-widget .gx-services-content .gx-services-body .gx-service-body-content-body .gx-service-card .gx-service-card-desc{
    font-size: 12px;
    font-weight: 400;
    color: #4c586d;
    line-height: 18px;
}
.gx-services-panel-content .gx-services-widget .gx-services-content .gx-services-body .gx-service-body-content-body .gx-service-card .gx-service-card-tags{
    margin-top: 20px;
}
.gx-services-panel-content .gx-services-widget .gx-services-content .gx-services-body .gx-service-body-content-body .gx-service-card .gx-service-card-tags .ant-tag{
    background-color: #f0f0f0;
    line-height: 22px;
    border: none;
    border-radius: 2px;
    font-size: 12px;
    color: #9399a2;
}
.gx-services-panel-content .gx-services-widget .gx-services-content .gx-services-body .gx-service-body-content-body .gx-service-card .gx-service-card-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 8px 0px 20px;
    height: 50px;
    border-top: 1px solid #e6e7ed;
}
.gx-services-panel-content .gx-services-widget .gx-services-content .gx-services-body .gx-service-body-content-body .gx-service-card .gx-service-card-price{
    color: #4c586d;
    font-size: 14px;
    font-weight: bold;
}
.popover-add-category .ant-popover-inner-content{
    padding: 20px!important;
}
.popover-add-category .ant-popover-inner-content .gx-popover-title{
    margin-bottom: 20px;
}
.popover-add-category .ant-popover-inner-content .gx-popover-title span{
    font-size: 14px;
    font-weight: 500;
    color: #132144;
}
.popover-add-category .ant-popover-inner-content .gx-popover-category{
    width: 300px;
    margin-bottom: 20px;
}
.popover-add-category .ant-popover-inner-content .gx-popover-category label{
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 500;
    color: #4c586d;
}
.popover-add-category .ant-popover-inner-content .gx-popover-category .ant-input.gx-category-input{
    border-radius: 2px!important;
    border: 2px solid #e5e7ed!important;
    background-color: #ffffff!important;
    font-size: 12px!important;
    color: #4c586d!important;
    font-weight: 500!important;
}
.popover-add-category .ant-popover-inner-content .gx-popover-category .ant-input.gx-category-input::placeholder{
    font-size: 12px!important;
    color: #9399a2!important;
    font-weight: 500!important;
}
.popover-add-category .ant-popover-inner-content .gx-popover-category .ant-input.gx-category-input:hover{
    border-color: #257cde!important;
    border-right-width: 2px!important;
}
.popover-add-category .ant-popover-inner-content .gx-popover-category .ant-input.gx-category-input:focus{
    border-color: #257cde!important;
    border-right-width: 2px!important;
    box-shadow: unset!important;
}
.popover-add-category .ant-popover-inner-content .gx-popover-actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popover-add-category .ant-popover-inner-content .gx-popover-actions .gx-btn-cancel-category{
    background-color: #9399a2;
    color: white;
    border: none;
    width: 100%;
    margin-right: 10px;
}
.popover-add-category .ant-popover-inner-content .gx-popover-actions .gx-btn-save-category{
    border: none;
    width: 100%;
}
.popover-add-category .ant-popover-inner-content .gx-popover-actions .gx-btn-delete-category{
    border: none;
    width: 100%;
    background-color: #ff4d4f;
    color: white;
}
.popover-add-category .ant-btn{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}
.popover-category-action .ant-popover-inner-content{
    padding: 20px 0px !important;
}
.popover-category-action .gx-menuitem >span{
    font-size: 13px;
    color: #9399a2;
}
.popover-category-action .gx-menuitem:hover >span{
    color: #257cde;
}
.popover-edit-category .popover-edit-category-content{
    padding: 0px 20px;
}
.popover-delete-category .popover-delete-category-content{
    padding: 0px 20px;
}
.gx-services-module .ant-select{
    width: 100%;
    border: 2px solid #dcdde5;
    background-color: white;
    border-radius: 2px;
}
.gx-services-module .ant-select.ant-select-open{
    border-color: #257cde;
}
.gx-services-module .ant-select .ant-select-selection{
    border: 0px;
    height: 100%;
    border-radius: unset;
}
.gx-services-module .ant-select.ant-select-focused .ant-select-selection{
    border-color: #dcdde5;
}
.gx-services-module .ant-select .ant-select-selection .ant-select-arrow{
    top: 30%;
    right: 6px;
}
.gx-services-module .ant-select .ant-select-selection .ant-select-arrow i{
   color: #a5abb5;
}
.gx-services-module .ant-select .ant-select-selection .ant-select-selection__rendered{
    height: 100%;
}
.gx-services-module .ant-select .ant-select-selection .ant-select-selection__rendered .ant-select-selection__placeholder{
    font-size: 12px;
}
.gx-services-module .ant-select .ant-select-selection .ant-select-selection__rendered .ant-select-selection-selected-value{
    font-size: 12px;
}
.gx-popover-material-action .ant-popover-inner-content{
  padding: 20px 0px;
}
.gx-popover-material-action .gx-menuitem >i{
  margin-right: 10px;
}
.gx-popover-material-action .gx-menuitem >span{
  font-size: 13px;
  font-weight: 500;
}
.gx-popover-material-action .gx-popover-material-content{
  padding: 0px 20px;
  width: 280px;
}
.gx-popover-material-action .gx-popover-action{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
.gx-popover-material-action .gx-popover-action .ant-btn{
  width: 100%;
}
.gx-popover-material-action .gx-popover-action .gx-btn-confirm{
  background-color: #257cde;
  color: white;
  border: 0px;
  font-size: 13px;
  font-weight: 500;
}
.gx-popover-material-action .gx-popover-action .gx-btn-cancel{
  background-color: #a5abb5;
  color: white;
  border: 0px;
  font-size: 13px;
  font-weight: 500;
}


.modal-add-service{
    width: auto!important;
}
.modal-add-service .ant-modal-header{
    box-shadow: 0px 1px 5px #dce0e9;
}
.modal-add-service .ant-modal-header .ant-modal-title span{
    font-size: 18px;
    color: #1a2f52;
    font-weight: bold;
}
.modal-add-service .ant-modal-footer{
    display: none;
}
.modal-add-service .ant-modal-body{
    padding: 20px 70px;
}
.modal-add-service .service-body{
    display: flex;
}
.modal-add-service .service-details{
    width: 350px;
    min-width: 350px;
    margin-right: 30px;
}
.modal-add-service .service-details .service-details-control{
    margin-bottom: 10px;
}
.modal-add-service .service-details .service-details-control.service-details-title >span{
    font-size: 15px;
    font-weight: bold;
    color: #132144;
}
.modal-add-service .service-details .service-details-control.service-details-pricing{
    display: flex;
}
.modal-add-service .service-details .service-details-control.service-details-unit{
    width: 100px;
}
.modal-add-service .service-details .service-details-control >span{
    font-size: 12px;
    color: #4c586d;
    font-weight: 500;
    margin-bottom: 5px;
    line-height: 30px;
}
.modal-add-service .service-details .service-details-control .service-details-taxable >span{
    font-size: 12px;
    font-weight: 500;
    color: #4c586d;
}
.modal-add-service .service-details .ant-input{
    border-radius: 2px;
    border: 2px solid #e5e7ed;
    background-color: #ffffff;
    font-size: 12px;
    color: #4c586d;
    font-weight: 500;
    padding: 10px;
    height: 38px;
}
.modal-add-service .service-details textarea.ant-input{
    height: auto;
}
.modal-add-service .service-details .ant-input::placeholder{
    font-size: 12px;
    color: #9399a2;
    font-weight: 500;
}
.modal-add-service .service-details .ant-input:hover{
    border-color: #257cde;
    border-right-width: 2px!important;
}
.modal-add-service .service-details .ant-input:focus{
    border-color: #257cde;
    border-right-width: 2px!important;
    box-shadow: unset;
}
.modal-add-service .service-details .ant-select{
    width: 100%;
    border: 2px solid #e5e7ed;
    background-color: white;
    border-radius: 2px;
    height: 38px;
}
.modal-add-service .service-details .ant-select:hover{
    border-color: #257cde;
}
.modal-add-service .service-details .ant-select.ant-select-open{
    border-color: #257cde;
}
.modal-add-service .service-details .ant-select .ant-select-selection{
    border: 0px;
    height: 100%;
    border-radius: unset;
}
.modal-add-service .service-details .ant-select.ant-select-focused .ant-select-selection{
    border-color: #dcdde5;
}
.modal-add-service .service-details .ant-select .ant-select-selection .ant-select-arrow{
    top: 30%;
    right: 6px;
}
.modal-add-service .service-details .ant-select .ant-select-selection .ant-select-arrow i{
   color: #a5abb5;
}
.modal-add-service .service-details .ant-select .ant-select-selection .ant-select-selection__rendered{
    height: 100%;
}
.modal-add-service .service-details .ant-select .ant-select-selection .ant-select-selection__rendered .ant-select-selection__placeholder{
    font-size: 12px;
    font-weight: 500;
}
.modal-add-service .service-details .ant-select .ant-select-selection .ant-select-selection__rendered .ant-select-selection-selected-value{
    font-size: 12px;
    font-weight: 500;
}
.modal-add-service .service-details .service-details-pricing{
    position: relative;
}
.modal-add-service .service-details .service-details-pricing .ant-input{
    width: 250px;
}
.modal-add-service .service-details .service-details-pricing .ant-select{
    position: absolute;
    width: 90px;
    right: 0;
}
.modal-add-service .service-footer .service-details-action{
    width: 350px;
}
.modal-add-service .service-footer .service-details-action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.modal-add-service .service-footer .service-details-action .ant-btn{
    width: 170px;
    margin: 0px;
    font-size: 13px;
    font-weight: 500;
    border: 0px;
}
.modal-add-service .service-footer .service-details-action .ant-btn.gx-btn-cancel{
    background-color: #a5abb5;
    color: white;
}
.modal-add-service .service-image{
    width: 300px;
    min-width: 300px;
}
.modal-add-service .service-image .ant-card{
    margin-top: 30px;
}
.modal-add-service .service-image .ant-card .gx-btn-change-icon{
    background-color: #f0f0f0;
    color: #9399a2;
    font-weight: 500;
    font-size: 12px;
    border: 0px;
}
.modal-add-service .service-image .ant-card .ant-upload.ant-upload-drag{
    border: 2px dotted #aab0b9!important;
    border-radius: 2px!important;
}


.gx-custom-toggle-buttons{
  display: flex;
  align-items: center;
}
.gx-custom-toggle-buttons .gx-btn-toggle{
  width: 35px;
  height: 18px;
  margin-bottom: 0px;
  padding: 0px;
  border-radius: 0px!important;
  border: 2px solid #e5e7ed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gx-custom-toggle-buttons .gx-btn-toggle:first-child{
  border-right-width: 0px;
}
.gx-custom-toggle-buttons .gx-btn-toggle:last-child{
  border-left-width: 0px;
}
.gx-custom-toggle-buttons .gx-btn-toggle.gx-btn-toggle-yes{
  background-color: #318bf1;
  border-color: #257cde!important;
  border-right-width: 2px;
  color: white;
  z-index: 10;
}
.gx-custom-toggle-buttons .gx-btn-toggle.gx-btn-toggle-no{
  background-color: #f87474;
  border-color: #f55555!important;
  border-left-width: 2px;
  color: white;
  z-index: 10;
}
.gx-custom-toggle-buttons .gx-btn-toggle >span{
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
}
.gx-custom-toggle-buttons .gx-btn-toggle .gx-btn-toggle-normal >div{
  width: 2px;
  height: 8px;
  background-color: #b0b2bc;
  margin-right: 1px;
}
.gx-custom-toggle-buttons .gx-btn-toggle .gx-btn-toggle-normal >div:last-child{
  margin-right: 0px;
}




.ant-select{
  width: 100%;
  height: 38px;
  border: 2px solid #e5e7ed;
  background-color: white;
  border-radius: 2px;
}
.has-error .ant-select{
  border-color: #f55555!important;
}
.ant-select.ant-select-focused{
  border-color: #257cde;
}
.ant-select:hover{
  border-color: #257cde;
}
.ant-select .ant-select-selection{
  border: 0px;
  height: 100%;
  border-radius: unset;
}
.ant-select .ant-select-selection .ant-select-arrow{
  top: 30%;
  right: 6px;
}
.ant-select .ant-select-selection .ant-select-arrow i{
 color: #a5abb5;
}
.ant-select .ant-select-selection .ant-select-selection__rendered{
  height: 100%;
}
.ant-select .ant-select-selection .ant-select-selection__rendered .ant-select-selection__placeholder{
  font-size: 12px;
}
.ant-select .ant-select-selection .ant-select-selection__rendered .ant-select-selection-selected-value{
  font-size: 12px;
}
.ant-btn{
  margin: 0px;
  border: 0px;
  border-radius: 2px;
  font-size: 13px;
  font-weight: 500px;
  color: #a5abb5;
}









.gx-estimate-popover .ant-popover-inner-content{
  padding: 20px 0px;
}
.gx-estimate-popover .gx-menuitem{
  padding: 0px 20px;
}
.gx-estimate-popover .gx-menuitem >i{
  margin-right: 10px;
}
.gx-estimate-popover .gx-menuitem >span{
  font-size: 13px;
  font-weight: 500;
}
.gx-estimate-popover .gx-popover-estimate-content{
  padding: 0px 20px;
}
.gx-estimate-popover .gx-popover-estimate-content{
  width: 280px;
}
.gx-estimate-popover .gx-popover-estimate-content .gx-popover-action{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.gx-estimate-popover .gx-popover-estimate-content .gx-popover-action .ant-btn{
  width: 100%;
}
.gx-estimate-popover .gx-popover-estimate-content .gx-popover-action .ant-btn.gx-btn-cancel{
  background-color: #a5abb5;
  color: white;
  border: 0px;
  font-size: 13px;
  font-weight: 500;
}
.gx-estimate-popover .gx-popover-estimate-content .gx-popover-action .ant-btn.gx-btn-confirm{
  background-color: #257cde;
  color: white;
  border: 0px;
  font-size: 13px;
  font-weight: 500;
}
.gx-panel-estimate-mobile-content .ant-collapse{
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.14);
  border: 0px;
  border-radius: 8px;
}
.gx-panel-estimate-mobile-content .ant-collapse-header{
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0px 20px!important;
}
.gx-panel-estimate-mobile-content .ant-collapse-header .panel-header{
  width: 100%;
  display: flex;
  align-items: center;
}
.gx-panel-estimate-mobile-content .ant-collapse-header .panel-header >i{
  font-size: 22px!important;
  color: #9399a2!important;
}
.gx-panel-estimate-mobile-content .gx-estimate.ant-collapse-item-active .ant-collapse-header .panel-header >i{
  color: #4c586d!important;
}
.gx-panel-estimate-mobile-content .ant-collapse-header .panel-header-content{
  display: flex;
  align-items: center;
}
.gx-panel-estimate-mobile-content .ant-collapse-header .panel-header-mark{
  margin-right: 15px;
  width: 4px;
  height: 33px;
  border-radius: 2px;
}
.gx-panel-estimate-mobile-content .ant-collapse-header .panel-header-mark.panel-header-mark-new-estimates{
  background-color: #08bdc5;
}
.gx-panel-estimate-mobile-content .ant-collapse-header .panel-header-mark.panel-header-mark-scheduled{
  background-color: #257cde;
}
.gx-panel-estimate-mobile-content .ant-collapse-header .panel-header-mark.panel-header-mark-under-review{
  background-color: #f7c43d;
}
.gx-panel-estimate-mobile-content .ant-collapse-header .panel-header-mark.panel-header-mark-accepted-estimates{
  background-color: #39bf58;
}
.gx-panel-estimate-mobile-content .ant-collapse-header .panel-title{
  font-size: 16px;
  font-weight: 500;
  color: #1a2f52;
}
.gx-panel-estimate-mobile-content .ant-collapse-header .panel-total-value{
  display: flex;
  align-items: center;
}
.gx-panel-estimate-mobile-content .ant-collapse-header .panel-total-value span{
  font-size: 13px;
  font-weight: 500;
  color: #9399a2;
}
span.dot i{
  font-size: 5px;
  margin: 0px 5px;
}
.gx-panel-estimate-mobile-content .ant-collapse-content{
  background-color: #e6e6e6;
}
.gx-panel-estimate-mobile-content .ant-collapse-content.ant-collapse-content-active{
height: calc(100vh - 473px);
overflow-y: scroll;
}
.gx-panel-estimate-mobile-content .gx-estimate{
  background-color: white;
}
.gx-panel-estimate-mobile-content .gx-estimate.gx-new-estimates{
  border-radius: 8px 8px 0px 0px;
}
.gx-panel-estimate-mobile-content .gx-estimate .gx-child-card-estimates{
  box-shadow: unset;
  border-radius: 4px;
  box-shadow: 1px 5px 6px #dde0e5;
}
.gx-panel-estimate-mobile-content .gx-estimate .gx-child-card-estimates .ant-card-body{
  padding: 0px;
}
.gx-panel-estimate-mobile-content .gx-estimate .gx-child-card-estimates.gx-child-card-estimates-new-estimates{
  border-left: 4px solid #08bdc5;
  margin-bottom: 20px;
}
.gx-panel-estimate-mobile-content .gx-estimate .gx-child-card-estimates.gx-child-card-estimates-new-estimates:last-child{
  margin-bottom: 0px;
}
.gx-panel-estimate-mobile-content .gx-estimate .gx-child-card-estimates.gx-child-card-estimates-scheduled{
  border-left: 4px solid #257cde;
  margin-bottom: 20px;
}
.gx-panel-estimate-mobile-content .gx-estimate .gx-child-card-estimates.gx-child-card-estimates-scheduled:last-child{
  margin-bottom: 0px;
}
.gx-panel-estimate-mobile-content .gx-estimate .gx-child-card-estimates.gx-child-card-estimates-under-review{
  border-left: 4px solid #f7c43d;
  margin-bottom: 20px;
}
.gx-panel-estimate-mobile-content .gx-estimate .gx-child-card-estimates.gx-child-card-estimates-under-review:last-child{
  margin-bottom: 0px;
}
.gx-panel-estimate-mobile-content .gx-estimate .gx-child-card-estimates.gx-child-card-estimates-accepted-estimates{
  border-left: 4px solid #39bf58;
  margin-bottom: 20px;
}
.gx-panel-estimate-mobile-content .gx-estimate .gx-child-card-estimates.gx-child-card-estimates-accepted-estimates:last-child{
  margin-bottom: 0px;
}
.gx-panel-estimate-mobile-content .gx-estimate .gx-child-card-estimates .user-details{
  padding: 15px 5px 15px 20px;
}
.gx-panel-estimate-mobile-content .gx-estimate .gx-child-card-estimates .user-details .user-details-top{
  display: flex;
  justify-content: space-between;
}
.gx-panel-estimate-mobile-content .gx-estimate .gx-child-card-estimates .user-details .user-details-top .user-avatar{
  display: flex;
  align-items: center;
}
.gx-panel-estimate-mobile-content .gx-estimate .gx-child-card-estimates .user-details .user-details-top .user-avatar >i{
font-size: 30px;
margin-right: 10px;
}
.gx-panel-estimate-mobile-content .gx-estimate .gx-child-card-estimates .user-details .user-details-top .user-avatar .user-estimate-details{
font-size: 13px;
font-weight: 500;
color: #9399a2;
}
.gx-panel-estimate-mobile-content .gx-estimate .gx-child-card-estimates .user-details .user-details-top .user-avatar .user-avatar-name{
  font-size: 13px;
  font-weight: 500;
  color: #132144;
}
.gx-panel-estimate-mobile-content .gx-estimate .gx-child-card-estimates .user-details .user-details-top .user-avatar .user-avatar-name:hover{
  color: #257cde;
}
.gx-panel-estimate-mobile-content .gx-estimate .gx-child-card-estimates .user-details .user-details-top .btn-user-more{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0px;
  background-color: white;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gx-panel-estimate-mobile-content .gx-estimate .gx-child-card-estimates .user-details .user-details-top .btn-user-more:hover i{
  color: #257cde;
}
.gx-panel-estimate-mobile-content .gx-estimate .gx-child-card-estimates .user-details .user-details-top .btn-user-more i{
  color: #ababb5;
}
.gx-panel-estimate-mobile-content .gx-estimate .gx-child-card-estimates .user-details .user-details-body{
  padding-left: 40px;
}
.gx-panel-estimate-mobile-content .gx-estimate .gx-child-card-estimates .user-details .user-details-body .user-details-child{
  display: flex;
  align-items: center;
}
.gx-panel-estimate-mobile-content .gx-estimate .gx-child-card-estimates .user-details .user-details-body .user-details-child .user-details-child-item-title{
  font-size: 12px;
  font-weight: 400;
  color: #9399a2;
  width: 80px;
}
.gx-panel-estimate-mobile-content .gx-estimate .gx-child-card-estimates .user-details .user-details-body .user-details-child .user-details-child-item-value{
  font-size: 12px;
  font-weight: 500;
  color: #4c586d;
}
.gx-panel-estimate-mobile-content .gx-estimate .gx-child-card-estimates .child-card-footer{
  display: flex;
}
.gx-panel-estimate-mobile-content .gx-estimate .gx-child-card-estimates.gx-child-card-estimates-new-estimates .child-card-footer{
  border-top: 1px solid #abe1e3;
}
.gx-panel-estimate-mobile-content .gx-estimate .gx-child-card-estimates.gx-child-card-estimates-scheduled .child-card-footer{
  border-top: 1px solid #b5cfec;
}
.gx-panel-estimate-mobile-content .gx-estimate .gx-child-card-estimates.gx-child-card-estimates-under-review .child-card-footer{
  border-top: 1px solid #ead59d;
}
.gx-panel-estimate-mobile-content .gx-estimate .gx-child-card-estimates.gx-child-card-estimates-accepted-estimates .child-card-footer{
  border-top: 1px solid #b4d8dc;
}
.gx-panel-estimate-mobile-content .gx-estimate .gx-child-card-estimates .child-card-footer .action{
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0px 15px;
}
.gx-panel-estimate-mobile-content .gx-estimate .gx-child-card-estimates.gx-child-card-estimates-new-estimates .child-card-footer .action.action-start-estimate{
  width: 50%;
  color: #08bdc5;
  background-color: #e6faff;
  cursor: pointer;
}
.gx-panel-estimate-mobile-content .gx-estimate .gx-child-card-estimates.gx-child-card-estimates-new-estimates .child-card-footer .action.action-schedule-estimate{
  width: 50%;
  color: #08bdc5;
  background-color: #e6faff;
  border-left: 1px solid #abe1e3;
  cursor: pointer;
  border-radius: 0px 0px 4px 0px;
}
.gx-panel-estimate-mobile-content .gx-estimate .gx-child-card-estimates.gx-child-card-estimates-scheduled .child-card-footer .action.action-home{
  width: 60px;
  color: #257cde;
  background-color: #deecfb;
  cursor: pointer;
  justify-content: center;
}
.gx-panel-estimate-mobile-content .gx-estimate .gx-child-card-estimates.gx-child-card-estimates-scheduled .child-card-footer .action.action-start-estimate{
  width: calc(100vw - 60px);
  color: #257cde;
  background-color: #deecfb;
  border-left: 1px solid #b5cfec;
  cursor: pointer;
  border-radius: 0px 0px 4px 0px;
}
.gx-panel-estimate-mobile-content .gx-estimate .gx-child-card-estimates.gx-child-card-estimates-under-review .child-card-footer .action.action-eye{
  width: 60px;
  color: #e0a712;
  background-color: #f8f0dc;
  cursor: pointer;
  justify-content: center;
}
.gx-panel-estimate-mobile-content .gx-estimate .gx-child-card-estimates.gx-child-card-estimates-under-review .child-card-footer .action-group{
  width: calc(100vw - 60px);
}
.gx-panel-estimate-mobile-content .gx-estimate .gx-child-card-estimates.gx-child-card-estimates-under-review .child-card-footer .action.action-accepted{
  width: 100%;
  color: #e0a712;
  background-color: #f8f0dc;
  border-left: 1px solid #ead59d;
  cursor: pointer;
}
.gx-panel-estimate-mobile-content .gx-estimate .gx-child-card-estimates.gx-child-card-estimates-under-review .child-card-footer .action.action-refused{
  width: 100%;
  color: #e0a712;
  background-color: #f8f0dc;
  border-left: 1px solid #ead59d;
  cursor: pointer;
}
.gx-panel-estimate-mobile-content .gx-estimate .gx-child-card-estimates.gx-child-card-estimates-under-review .child-card-footer .action.action-resend{
  width: 100%;
  color: #e0a712;
  background-color: #f8f0dc;
  border-left: 1px solid #ead59d;
  border-radius: 0px 0px 4px 0px;
  cursor: pointer;
}
.gx-panel-estimate-mobile-content .gx-estimate .gx-child-card-estimates.gx-child-card-estimates-accepted-estimates .child-card-footer .action.action-convert{
  padding-left: 60px;
  width: 100%;
  color: #39bf58;
  background-color: #e4f8e9;
  border-radius: 0px 0px 4px 0px;
  cursor: pointer;
}

.gx-service-header-actions-mobile{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
.gx-service-header-actions-mobile .ant-btn{
  width: 100%;
}
.gx-services-content-header-mobile{
  height: 60px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.14);
  background-color: white;
  padding: 0px 20px;
}
.gx-services-content-header-mobile >span{
  font-size: 16px;
  color: #1a2f52;
  font-weight: 500;
}

.gx-services-tab-categories-mobile{
  display: block;
  border-top: 1px solid #e5e7ed;
  background-color: white;
  margin-bottom: 15px;
  box-shadow: 1px 1px 5px #dce0e9;
}
.gx-services-tab-categories-mobile .ant-tabs-bar{
  box-shadow: 1px 1px 5px #dce0e9;
  margin-bottom: 0px;
}
.gx-services-tab-categories-mobile .ant-tabs-bar .ant-tabs-tab-prev{
  border-right: 1px solid #e5e7ed;
}
.gx-services-tab-categories-mobile .ant-tabs-bar .ant-tabs-tab-next{
  border-left: 1px solid #e5e7ed;
}
.gx-services-tab-categories-mobile .ant-tabs-bar .ant-tabs-nav{
  display: flex;
}
.gx-services-tab-categories-mobile .ant-tabs-bar .ant-tabs-nav >div{
  display: flex;
  width: 100%;
}
.gx-services-tab-categories-mobile .ant-tabs-bar .ant-tabs-tab{
  margin-right: 0px;
  width: 100%;
  border-right: 1px solid #e5e7ed;
}
.gx-services-tab-categories-mobile .ant-tabs-bar .ant-tabs-tab .gx-sidebar-item{
  text-align: center;
}
.gx-services-tab-categories-mobile .ant-tabs-bar .ant-tabs-tab .gx-sidebar-item >span{
  font-size: 13px;
}
.gx-services-tab-categories-mobile .ant-tabs-bar .ant-tabs-tab.ant-tabs-tab-active span{
  color: #257cde;
}
.gx-services-tab-categories-mobile .ant-tabs-bar .ant-tabs-tab span{
  color: #9399a2;
}
.gx-services-tab-categories-mobile .ant-tabs-bar .ant-tabs-tab:last-child{
  border-right: 0px;
}
.modal-add-category .ant-modal-body{
  padding: 20px;
}
.modal-add-category .gx-category-title{
  margin-bottom: 20px;
}
.modal-add-category .gx-category-title span{
  font-size: 14px;
  font-weight: 500;
  color: #132144;
}
.modal-add-category .gx-category-form{
  margin-bottom: 20px;
}
.modal-add-category .gx-category-form label{
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 500;
  color: #4c586d;
}
.modal-add-category .gx-category-form .ant-input.gx-category-input{
  border-radius: 2px!important;
  border: 2px solid #e5e7ed!important;
  background-color: #ffffff!important;
  font-size: 12px!important;
  color: #4c586d!important;
  font-weight: 500!important;
}
.modal-add-category .gx-category-form .ant-input.gx-category-input::placeholder{
  font-size: 12px!important;
  color: #9399a2!important;
  font-weight: 500!important;
}
.modal-add-category .gx-category-form .ant-input.gx-category-input:hover{
  border-color: #257cde!important;
  border-right-width: 2px!important;
}
.modal-add-category .gx-category-form .ant-input.gx-category-input:focus{
  border-color: #257cde!important;
  border-right-width: 2px!important;
  box-shadow: unset!important;
}
.modal-add-category .gx-category-actions{
  display: flex;
}

.modal-add-category .ant-btn{
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.modal-add-category .gx-category-actions .gx-btn-cancel-category{
  width: 100%;
  margin-right: 10px;
  border: 0px;
  border-radius: 2px;
  background-color: #a5abb5;
  color: white;
}
.modal-add-category .gx-category-actions .gx-btn-save-category{
  width: 100%;
  border: 0px;
  border-radius: 2px;
  color: white;
}
.modal-add-category .ant-modal-footer{
  display: none;
}
.gx-search-bar.gx-dispatch-search input[type="search"]{
  height: 36px;
}
@media screen and (min-width: 1024px){
    .gx-panel-estimate-content{
        display: flex!important;
    }
    .gx-panel-estimate-mobile-content{
        display: none!important;
    }
    .gx-services-tab-categories-mobile{
        display: none;
    }
    .gx-services-panel-content .gx-services-widget .gx-service-body-content-header-desktop{
        display: block;
    }
    .gx-service-header-mobile{
      display: none;
    }
    .gx-services-content-header-mobile{
      display: none;
    }
    .modal-add-service .service-details-control .service-details-type{
        width: 170px;
    }
    .modal-add-service .service-details-control .service-details-taxable{
        width: 170px;
    }
    .modal-add-service .service-body .service-image{
        width: 260px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
  .gx-panel-content.gx-ss-sales-estimate{
    overflow-y: hidden;
    height: calc(100vh - 213px);
  }
  .gx-panel-estimate-content{
    display: none!important;
  }
  .gx-service-header-mobile{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
  .gx-service-header-mobile .gx-service-filter-mobile{
    width: 100%;
  }
  .gx-service-header-mobile .gx-service-header-actions-mobile{
    margin-left: 15px;
  }
  .gx-services-content-header-mobile{
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 10;
  }
  .gx-services-sidebar{
    display: none;
  }
  .gx-service-body-content-header{
    display: none;
  }
  .gx-services-panel-content .gx-services-widget .gx-services-content .gx-services-body .gx-service-body-content-body{
    height: calc(100vh - 302px);
    overflow-y: scroll;
    padding: 30px;
  }
  .gx-panel-estimate-mobile-content{
    display: flex!important;
    margin-bottom: 20px;
  }
  .gx-panel-estimate-mobile-content .ant-collapse{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .gx-panel-estimate-mobile-content .ant-collapse .ant-collapse-item{
    width: 50%;
  }
  .gx-panel-estimate-mobile-content .ant-collapse .ant-collapse-item .ant-collapse-content-active{
    height: calc(100vh - 342px);
  }
  .gx-panel-estimate-mobile-content .ant-collapse .ant-collapse-item.gx-new-estimates .ant-collapse-content{
    border: 5px solid #f5f5f5;
    border-left: none;
    border-top: none;
    border-bottom: none;
  }
  .gx-panel-estimate-mobile-content .ant-collapse .ant-collapse-item.gx-scheduled .ant-collapse-content{
    border: 5px solid #f5f5f5;
    border-right: none;
    border-top: none;
    border-bottom: none;
  }
  .gx-panel-estimate-mobile-content .ant-collapse .ant-collapse-item.gx-under-review .ant-collapse-content{
    border: 5px solid #f5f5f5;
    border-left: none;
    border-top: none;
    border-bottom: none;
  }
  .gx-panel-estimate-mobile-content .ant-collapse .ant-collapse-item.gx-accepted-estimates .ant-collapse-content{
    border: 5px solid #f5f5f5;
    border-right: none;
    border-top: none;
    border-bottom: none;
  }
  .gx-panel-estimate-mobile-content .ant-collapse .ant-collapse-item .ant-collapse-header{
    box-shadow: 1px 1px 3px #e6e9f1;
  }
  .gx-panel-estimate-mobile-content .ant-collapse .ant-collapse-item.gx-estimate.gx-new-estimates .ant-collapse-header{
    border-radius: 8px 0px 0px 0px;
  }
}
@media screen and (max-width: 768px){
    .gx-panel-content.gx-ss-sales-estimate{
        overflow-y: hidden;
        height: calc(100vh - 213px);
    }
    .gx-panel-estimate-content{
        display: none!important;
    }
    .gx-panel-estimate-mobile-content{
        display: flex!important;
        margin-bottom: 20px;
    }
    .gx-services-content-header-mobile{
      display: flex;
      flex-direction: row;
      align-items: center;
      z-index: 10;
    }
    .gx-services-panel-content .gx-services-widget .gx-services-content .gx-services-body .gx-service-body-content-body{
        height: calc(100vh - 350px);
        overflow-y: scroll;
        padding: 20px;
    }
    .gx-services-panel-content .gx-services-widget .gx-services-content .gx-services-body .gx-service-body-content-body .gx-service-header-filter-mobile{
        display: block;
    }
    .gx-services-panel-content .gx-services-widget .gx-services-content .gx-services-body .gx-service-body-content-header{
        box-shadow: unset;
    }

    .gx-services-panel-content .gx-services-widget .gx-services-content .gx-services-sidebar{
        display: none;
    }
    .gx-services-panel-content .gx-services-widget .gx-service-header-actions-mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0px;
        height: 60px;
    }
    .gx-services-panel-content .gx-services-widget .gx-service-header-actions-mobile .gx-btn-new-category{
        margin-right: 10px;
        margin-bottom: 0px;
    }
    .gx-services-panel-content .gx-services-widget .gx-service-header-actions-mobile .gx-btn-new-service{
        margin-bottom: 0px;
    }
    .gx-services-panel-content .gx-services-widget .gx-service-body-content-header-desktop{
        display: none!important;
    }
    .modal-add-service .ant-modal-body{
        padding: 20px;
    }
    .modal-add-service .service-body{
        flex-direction: column;
    }
    .modal-add-service .service-body .service-image{
        width: 275px!important;
        min-width: 275px!important;
    }
    .modal-add-service .service-body .service-image .ant-card{
        margin-top: 20px!important;
    }
    .modal-add-service .service-body .service-image .ant-card .gx-service-image{
        width: 235px!important;
    }
    .modal-add-service .ant-modal-body .service-details-control{
        width: 275px;
    }
    .modal-add-service .ant-modal-body .service-details-control.service-details-pricing .ant-input{
        width: 175px;
    }
    .modal-add-service .service-details-control .service-details-type{
        width: 132px;
    }
    .modal-add-service .service-details-control .service-details-taxable{
        width: 132px;
    }
    .modal-add-service .service-details-action{
        width: 275px!important;
    }
    .modal-add-service .service-details-action .ant-btn{
        width: 130px!important;
    }
}
